{{ text_received }}

{{ text_order_id }} {{ order_id }}
{{ text_date_added }} {{ date_added }}
{{ text_order_status }} {{ order_status }}

Имя пользователя : {{ firstname }}
Телефон пользователя : {{ telephone }}
Адрес : {{ addres }}

{{ payment_method_text }} : {{ payment_method }}
{{ shipping_method_text }} : {{ shipping_method }}

{{ text_product }}

{% for product in products %}
{{ product.quantity }}x {{ product.name }} ({{ product.model }}) {% if product.attrs %}({% for attr in product.attrs %}{{ attr.name }} x {{ attr.count }} {% endfor %}){% endif %} {{ product.total }}
{% if product.option %}
{% for option in product.option %}
	- {{ option.name }} {{ option.value }}
{% endfor %}
{% endif %}
{% endfor %} 
{% if vouchers %}

{% for voucher in vouchers %}
1x {{ voucher.description }} {{ voucher.amount }}
{% endfor %} 
{% endif %}
{{ text_total }}

{% for total in totals %}
{{ total.title }}: {{ total.value }}
{% endfor %}

{% if need_to_back > 0 %}
Сдача: {{ need_to_back }}
{% endif %}
  
{% if comment %}
{{ text_comment }}

{{ comment }}
{% endif %}

