<p>Вниманию всех любителей полакомиться свежеприготовленной и ароматной пиццей в лучших традициях PizzaFamiglia!</p>
<p>Специально для вас мы приготовили скидки и акции, которые, несомненно, порадуют самых строгих скептиков и придирчивых гурманов. У нас существует целый ряд акций, среди которых наиболее популярна акция «вторая пицца в подарок». Приобретая любую из предложенных на сайте пицц с понедельника по пятницу – вторую вы получаете в подарок *</p>
<h2>Акция для именинников</h2>
<p>Празднуйте ваш День рождения вместе с PizzaFamiglia не один день, а целую неделю! Скидка действует в День вашего рождения, а также шесть дней после него. Разделите ваш праздник с друзьями и отведайте пиццу от Famiglia.</p>
<h2>Бонусы за участие</h2>
<p>Скидки на пиццу вы можете получить, принимая участие в розыгрышах, организованных в нашей группе на Facebook. Для того, чтобы всегда оставаться в курсе последних новинок и самых вкусных предложений от PizzaFamiglia – становитесь участником нашего сообщества и приобретайте пиццу со скидкой 365 дней в году!</p>
<p>Пицца по акции – это дешево и вкусно. Приобретая пиццу Famiglia в Киеве, вы становитесь не только клиентом, но радушным гостем, где вас всегда ждёт ароматная пицца, вежливое обслуживание и вкус «маленькой Италии» с аутентичными сырами и только свежими ингредиентами.</p>
<p>*подарок – это приобретение пиццы за 1 грн.</p>

<div class="stocks">
	<div class="stocks__content">
		<div class="stocks__box"><div class="stocks-item" href="#" style="background-image: url(/catalog/view/theme/pizza/image/stock__img1.jpg);"><span class="stocks-item__info"><span class="stocks-item__title">Вторая пицца в подарок</span></span></div>
			<div class="stocks-item__text"><span lang="RU" style="font-size:11.0pt;line-height:
115%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-fareast-theme-font:minor-fareast;mso-ansi-language:RU;mso-fareast-language:
RU;mso-bidi-language:AR-SA">Приобретая любую из предложенных на сайте пицц с
понедельника по пятницу – вторую вы получаете в подарок *</span></div><div class="stocks-item__text"><span lang="RU" style="font-size:11.0pt;line-height:
115%;font-family:&quot;Arial&quot;,&quot;sans-serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-fareast-theme-font:minor-fareast;mso-ansi-language:RU;mso-fareast-language:
RU;mso-bidi-language:AR-SA"><span style="font-family: Arial, sans-serif; font-size: 11px; text-align: justify;">*подарок – это приобретение пиццы за 1 грн</span><br></span><br></div>
		</div>
		<div class="stocks__box">
			<div class="stocks-item__box"><div class="stocks-item" href="#" style="background-image: url(/catalog/view/theme/pizza/image/stock__img2.jpg);"><span class="stocks-item__info"><span class="stocks-item__title stocks-item__title--color">-50%</span></span></div>
				<div class="stocks-item__text">Счастливые часы -50% на вторую пиццу с понедельника по пятницу с 12:00 до 16:00. Акция не действует в выходные и праздничные дни.</div>
			</div>
			<div class="stocks-item__box"><div class="stocks-item" href="#" style="background-image: url(/catalog/view/theme/pizza/image/stock__img4.jpg);"><span class="stocks-item__info"><span class="stocks-item__title">Facebook</span></span></div>
				<div class="stocks-item__text">Скидки на пиццу вы можете получить, принимая участие в розыгрышах, организованных в нашей группе на Facebook. Для того, чтобы всегда оставаться в курсе последних новинок и самых вкусных предложений от Pizza Famiglia – становитесь участником нашего сообщества и приобретайте пиццу со скидкой 365 дней в году!</div><div class="stocks-item__text"><br></div>
			</div>

			<div class="stocks-item__box"><div class="stocks-item" href="#" style="background-image: url(/catalog/view/theme/pizza/image/stock__img4.jpg);"><span class="stocks-item__info"><span class="stocks-item__title">-10%<span>при самовывозе</span></span></span></div>
				<div class="stocks-item__text">Самовывоз возможен с адреса: Киевская обл., Софиевская Борщаговка, ул. Боголюбова, 12.</div>
			</div>
			<div class="stocks-item__box"><div class="stocks-item" href="#" style="background-image: url(/catalog/view/theme/pizza/image/stock__img3.jpg);"><span class="stocks-item__info"><span class="stocks-item__title">5%<span>в виде бонусов</span></span></span></div>
				<div class="stocks-item__text">Заказывайте через сайт и получайте 5% возврата от каждого заказа в виде бонусов. Используйте бонусы для оплаты заказов.</div>
			</div>
			<div class="stocks-item__box"><div class="stocks-item" href="#" style="background-image: url(/catalog/view/theme/pizza/image/stock__img5.jpg);"><span class="stocks-item__info"><span class="stocks-item__title">-15%<span>в день рождения</span></span></span></div>
				<div class="stocks-item__text"><span style="font-family: Arial, sans-serif; text-align: justify;">Празднуйте
ваш День рождения вместе с Pizza Famiglia не один день, а целую неделю!</span><span style="font-family: Arial, sans-serif; text-align: justify;">&nbsp; </span><span style="font-family: Arial, sans-serif; text-align: justify;">Скидка на приобретение пиццы действует в День
вашего рождения, а также шесть дней после него. Разделите ваш праздник с
друзьями и отведайте пиццу от Famiglia с 15 % скидкой.</span></div>
			</div>
		</div>
	</div>
</div>