article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a:focus,
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace,serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: 0;
}
html,
body {
  height: 100%;
}
.all {
  min-height: 100%;
  position: relative;
  padding-bottom: 200px;
  width: 100%;
  overflow: hidden;
}
body {
  font-family: Gilroy, Arial, sans-serif;
  font-size: 18px;
  color: #212121;
}
.container {
  margin: 0 auto;
  width: 1170px;
  padding: 0 15px;
}
.logo {
  min-width: 147px;
}
.logo img {
  display: block;
  max-width: 100%;
}
.hide {
  display: none;
}
h2 {
  font-family: Comfortaa, Arial, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
}
h1 {
  font-family: Comfortaa, Arial, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
}
ol,
ul {
  margin-left: 30px;
}
ol li,
ul li {
  margin-top: 5px;
}
.btn {
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  transition: .3s;
}
.btn:hover {
  background-color: #e9ae4a;
  color: #fff;
}
.btn-orange {
  background-color: #e9ae4a;
  color: #ffffff;
  border: 1px solid #e9ae4a;
}
.btn-orange:hover {
  background-color: #e39a1d;
  border: 1px solid #e39a1d;
}
.phone {
  font-size: 24px;
  font-weight: 700;
}
.phone__item {
  margin-bottom: 10px;
  line-height: .8;
}
.phone__text {
  font-size: 12px;
  font-weight: 300;
}
.page {
  padding-top: 30px;
  margin-bottom: 80px;
}
.page h1,
.page h2 {
  margin-bottom: 25px;
  text-align: center;
}
.page .breadcrumbs {
  font-size: 15px;
}
.page .breadcrumbs_list {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 30px;
}
.page .breadcrumbs_list li {
  display: inline;
  color: #e9ae4a;
}
.page .breadcrumbs_list li a {
  color: #e9ae4a;
  text-decoration: none;
}
.html_block-title {
  text-align: center;
  margin-bottom: 40px;
  font-family: Comfortaa, Arial, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  display: block;
}
.hidden {
  display: none !important;
}
.basket-log {
  position: absolute;
  cursor: auto;
  top: 100%;
  right: 0;
  width: 545px;
  box-shadow: 0 20px 50px rgba(20, 24, 30, 0.3);
  border-radius: 2px;
  background-color: #ffffff;
  z-index: 99;
  padding: 30px 0 45px;
  display: none;
  margin-top: 18px;
}
.basket-log.opened {
  display: block;
}
.basket-log:before {
  content: '';
  position: absolute;
  top: -18px;
  right: 55px;
  border-bottom: 18px solid #fff;
  border-right: 17px solid transparent;
  border-left: 17px solid transparent;
}
.basket-log__close {
  display: none;
}
.basket-log__box {
  display: none;
}
.basket-log__box.active {
  display: block;
}
.basket-log__top {
  margin-bottom: 30px;
  position: relative;
}
.basket-log__top-btn {
  text-decoration: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #e7ad4a;
  font-size: 12px;
  font-weight: 300;
}
.basket-log__top-btn--right {
  right: 30px;
}
.basket-log__top-btn--left {
  left: 30px;
}
.basket-log__top-btn:hover {
  text-decoration: underline;
}
.basket-log__title {
  color: #212121;
  font-family: Comfortaa, Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}
.basket-log__item {
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: left center;
  position: relative;
  padding: 20px 80px 20px 105px;
  min-height: 85px;
}
.basket-log__item--center {
  display: flex;
  align-items: center;
  padding: 20px 65px 20px 105px;
  flex-direction: column;
}
.basket-log__item--center .basket-log__item-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.basket-log__item--center .basket-log__item-box__attrs {
  font-size: 14px;
}
.basket-log__item--center .basket-log__item-box .basket-log__item-name {
  margin-bottom: 0;
}
.basket-log__item--center .basket-log__item-box span {
  font-size: 14px;
}
.basket-log__item-price {
  margin-left: 30px;
  font-size: 18px;
  font-weight: 700;
}
.basket-log__item-close {
  position: absolute;
  top: 50%;
  right: 30px;
  margin-top: -17px;
  border-radius: 50%;
  opacity: 0.8;
  transition: .3s;
  background-image: url('../image/sprite.png');
  background-position: -222px -113px;
  width: 25px;
  height: 25px;
}
.basket-log__item-close:hover {
  opacity: 1;
}
.basket-log__item-name {
  text-decoration: none;
  color: #e9ae4a;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 10px;
}
.basket-log__item-name:hover {
  text-decoration: underline;
}
.basket-log__item-attrs {
  font-size: 14px;
  display: inline-block;
}
.basket-log__item-attrs-item {
  display: inline-block;
}
.basket-log__item-options {
  font-size: 14px;
}
.basket-log__item-content {
  display: flex;
  align-items: center;
}
.basket-log__item-num {
  width: 80px;
  height: 25px;
  border-radius: 2px;
  border: 1px solid #bababa;
  display: flex;
  font-size: 14px;
  margin-right: 25px;
}
.basket-log__item-btn {
  color: #212121;
  text-decoration: none;
  opacity: 0.8;
  transition: .3s;
  width: 33.3333%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.basket-log__item-btn:hover {
  opacity: 1;
  background-color: #f3f3f3;
}
.basket-log__item input {
  width: 33.33333%;
  border: none;
  background-color: transparent;
  box-shadow: none;
  height: 100%;
  text-align: center;
}
.basket-log__bottom {
  display: flex;
  align-items: center;
  padding: 30px 30px 0;
}
.basket-log__bottom--right {
  justify-content: flex-end;
}
.basket-log__bottom--center {
  justify-content: center;
}
.basket-log__summa {
  font-size: 24px;
  font-weight: 700;
  margin-right: 30px;
}
.basket-log__btn {
  width: 250px;
  height: 40px;
}
.basket-log__tabs {
  width: 200px;
  display: flex;
  border-radius: 2px;
  border: 1px solid #bababa;
  margin: -10px auto 40px auto;
}
.basket-log__tabs-box {
  display: block;
  width: 50%;
}
.basket-log__tabs-box input {
  display: none;
}
.basket-log__tabs-item {
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #bababa;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
  display: block;
  cursor: pointer;
}
.basket-log__form {
  padding: 0 30px;
}
.basket-log__form-box {
  margin-bottom: 30px;
}
.basket-log__form-box-address {
  display: flex;
  justify-content: flex-end;
}
.basket-log__form-box-address a {
  color: #f8b13e;
  font-size: 14px;
}
.basket-log__form-label {
  display: flex;
  margin-bottom: 10px;
  position: relative;
}
.basket-log__form-label select.basket-log__form-value {
  appearance: none;
  padding-right: 30px;
  position: relative;
  z-index: 2;
  background-color: transparent;
}
.basket-log__form-label--select:after {
  content: '';
  position: absolute;
  top: 12px;
  right: 20px;
  width: 7px;
  height: 7px;
  border-bottom: 1px solid #bababa;
  border-right: 1px solid #bababa;
  transform: rotate(45deg);
  z-index: 1;
}
.basket-log__form-label--bonus.error span span {
  color: red;
}
.basket-log__form-label--bonus.error input {
  color: red;
  border: 1px solid red;
}
.basket-log__form-name {
  width: 155px;
  min-width: 155px;
  margin-right: 25px;
  font-size: 14px;
  font-weight: 300;
  text-align: right;
  padding-top: 8px;
}
.basket-log__form-name.error {
  color: red;
}
.basket-log__form-name span {
  color: #e51a4c;
}
.basket-log__form-name--bonus {
  padding-top: 1px;
}
.basket-log__form-name--bonus span {
  display: block;
  color: #e9ae4a;
}
.basket-log__form-value {
  flex: auto;
  height: 35px;
  border-radius: 2px;
  border: 1px solid #bababa;
  padding: 0 15px;
  font-size: 14px;
}
.basket-log__form-value.error {
  border-color: red;
}
.basket-log__form-multi {
  display: flex;
  flex-wrap: wrap;
  padding-left: 180px;
  justify-content: space-between;
}
.basket-log__form-multi .basket-log__form-label {
  width: 100px;
  position: relative;
}
.basket-log__form-multi .basket-log__form-label input {
  width: 100%;
}
.basket-log__form-multi .basket-log__form-label:nth-child(odd) {
  margin-right: 100px;
}
.basket-log__form-multi .basket-log__form-name {
  position: absolute;
  right: 100%;
  margin-right: 25px;
  width: auto;
  min-width: 80px;
}
.basket-log__form-mess {
  resize: none;
  width: 100%;
  height: 95px;
  border-radius: 2px;
  border: 1px solid #bababa;
  padding: 10px 15px;
  font-size: 14px;
}
.basket-log__form-summa {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}
.basket-log__form-summa .basket-log__form-name {
  padding-top: 0;
}
.basket-log__form-num {
  color: #e9ae4a;
  font-size: 24px;
  font-weight: 700;
}
.basket-log__form-num p {
  font-size: 14px;
  color: #000;
}
.basket-log__form-text {
  font-weight: 900;
  line-height: 22px;
  font-size: 16px;
  text-align: center;
  letter-spacing: -1.2px;
}
.basket-log__form-text span {
  cursor: default;
  color: #e51a4c;
  text-decoration: underline;
}
.basket-log__form-register {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.basket-log__form-register button {
  padding: 10px;
}
.basket-log__info {
  width: 100%;
  max-width: 500px;
  border-radius: 2px;
  background-color: #f0f0f0;
  padding: 10px;
  margin: 0 auto 30px;
}
.basket-log__info-line {
  display: flex;
  margin-bottom: 3px;
  font-size: 16px;
}
.basket-log__info-line--all {
  margin-top: 6px;
  color: #e9ae4a;
  font-weight: 700;
}
.basket-log__info-line--all .basket-log__info-value {
  font-weight: 700;
}
.basket-log__info-name {
  width: 50%;
  padding-right: 30px;
  font-weight: 700;
  text-align: right;
}
.basket-log__info-value {
  width: 50%;
  padding-left: 30px;
  font-weight: 300;
  text-align: left;
}
.basket-log__end {
  padding: 50px 0 40px;
  width: 100%;
  max-width: 330px;
  margin: 0 auto;
  text-align: center;
}
.basket-log__end-title {
  font-family: Comfortaa, Arial, sans-serif;
  font-weight: 700;
  color: #e9ae4a;
  font-size: 48px;
  margin-bottom: 10px;
}
.basket-log__end-text {
  line-height: 26px;
}
.basket-log__tabs-box input:checked ~ .basket-log__tabs-item {
  background-color: #bababa;
  color: #fff;
}
.bonus-popup {
  position: relative;
  background-color: #fff;
  box-shadow: 0 20px 50px rgba(20, 24, 30, 0.3);
  background-color: #ffffff;
}
.bonus-popup.container {
  padding: 35px 50px 100px;
}
.bonus-popup__top {
  margin-bottom: 25px;
}
.bonus-popup__line {
  margin-bottom: 10px;
}
.bonus-popup__line-name {
  font-size: 18px;
  font-weight: 700;
  width: 185px;
  margin-right: 30px;
  display: inline-block;
}
.bonus-popup__line-value {
  font-weight: 700;
  color: #f8b13e;
  display: inline-block;
}
.bonus-popup__table-top {
  margin-bottom: 10px;
  background-color: #f1f3f8;
}
.bonus-popup__table-top .bonus-popup__table-line {
  font-weight: 700;
  padding-top: 15px;
  padding-bottom: 15px;
}
.bonus-popup__table-line {
  padding: 5px 35px;
  font-size: 14px;
  font-weight: 300;
  display: flex;
  align-items: center;
}
.bonus-popup__table-date,
.bonus-popup__table-phone,
.bonus-popup__table-summa,
.bonus-popup__table-bonus,
.bonus-popup__table-num,
.bonus-popup__table-last {
  flex: 1;
}
.footer {
  background-color: #1b1b1b;
  padding: 49px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.footer__box {
  display: flex;
}
.footer__list {
  list-style-type: none;
  margin-left: 65px;
}
.footer__list:first-child {
  margin-left: 0;
}
.footer__item {
  padding-right: 20px;
  margin-bottom: 7px;
}
.footer__link {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__info {
  display: flex;
  flex-direction: column;
}
.footer__copy {
  margin-bottom: 0;
  margin-top: auto;
  color: #aaa;
  font-size: 14px;
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 20px;
}
.footer .phone a {
  color: #fff;
  text-decoration: none;
}
.footer .phone__text {
  text-align: center;
}
.social__item {
  margin: 0 17px;
  display: inline-block;
  vertical-align: middle;
}
.social__link {
  opacity: 0.8;
  transition: .3s;
  display: inline-block;
}
.social__link-vk {
  background-image: url('../image/sprite.png');
  background-position: 0px -172px;
  width: 27px;
  height: 16px;
}
.social__link-facebook {
  background-image: url(extract(facebook, 9));
  background-position: extract(facebook, 3) extract(facebook, 4);
  width: extract(facebook, 5);
  height: extract(facebook, 6);
}
.social__link-instagram {
  background-image: url(extract(instagram, 9));
  background-position: extract(instagram, 3) extract(instagram, 4);
  width: extract(instagram, 5);
  height: extract(instagram, 6);
}
.social__link:hover {
  opacity: 1;
}
.header {
  background-color: #f0f0f0;
  padding-top: 15px;
}
.header .container {
  display: flex;
}
.header .logo {
  min-width: 147px;
  margin-right: 47px;
}
.header__content {
  display: flex;
  flex: 1;
  position: relative;
}
.header-box:first-child {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.header-box:last-child {
  width: 165px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
}
.header-box__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-box__info {
  color: #e51a4c;
  font-weight: 900;
  line-height: 24px;
}
.header-box__phone a {
  color: #000;
  text-decoration: none;
}
.header-box__phone__text {
  font-size: 18px;
  text-align: center;
}
.header-box__shipping {
  padding-left: 60px;
  position: relative;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  padding-right: 25px;
}
.header-box__shipping span {
  font-weight: 300;
  display: block;
}
.header-box__shipping:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-image: url('../image/sprite.png');
  background-position: -184px -113px;
  width: 38px;
  height: 26px;
}
.header-box__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-box__lang form {
  border-radius: 2px;
  border: 1px solid #bababa;
  display: flex;
}
.header-box__lang form input {
  display: none;
}
.header-box__lang form .header-box__lang-label {
  color: #bababa;
  display: block;
  width: 50px;
  text-align: center;
  line-height: 25px;
  font-size: 14px;
  font-weight: 300;
  transition: .3s;
  cursor: pointer;
}
.header-box__lang form .header-box__lang-label:hover {
  color: #fff;
  background-color: #e0e0e0;
}
.header-box__card {
  font-size: 0;
}
.header-box__card-item {
  display: inline-block;
}
.header-box__card-item-visa {
  background-image: url('../image/sprite.png');
  background-position: -215px -139px;
  width: 30px;
  height: 17px;
}
.header-box__card-item-master {
  background-image: url('../image/sprite.png');
  background-position: -184px -139px;
  width: 31px;
  height: 18px;
  margin-left: 12px;
}
.header-box__list {
  display: table-row;
  margin-top: 7px;
}
.header-box__item {
  display: table-cell;
  width: 1%;
}
.header-box__link {
  display: block;
  text-decoration: none;
  color: #212121;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  padding: 18px 0;
  margin-top: 8px;
  white-space: nowrap;
  border-bottom: 4px solid transparent;
  transition: .3s;
}
.header-box__link.active,
.header-box__link:hover {
  border-bottom: 4px solid #e9ae4a;
}
.header-basket {
  position: relative;
}
.header-basket__box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  opacity: 0.8;
  transition: .3s;
}
.header-basket__box:hover {
  opacity: 1;
}
.header-basket__icon {
  background-image: url('../image/sprite.png');
  background-position: -184px -63px;
  width: 47px;
  height: 50px;
  margin-bottom: 15px;
  position: relative;
}
.header-basket__icon:after {
  content: attr(data-items);
  position: absolute;
  top: -5px;
  right: -15px;
  width: 30px;
  height: 30px;
  background-color: #e51a4c;
  border-radius: 50%;
  color: #fff;
  font-family: Comfortaa;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-basket__summa {
  color: #f8b13e;
  font-weight: 700;
}
.header-link {
  display: flex;
  margin-top: auto;
  margin-bottom: 0;
  position: relative;
  padding-left: 40px;
  color: #bababa;
  font-size: 14px;
  transition: .3s;
  white-space: nowrap;
  line-height: 0px;
}
.header-sing {
  display: block;
  margin-top: auto;
  margin-bottom: 0;
  position: relative;
  padding-left: 40px;
  color: #bababa;
  font-size: 14px;
  transition: .3s;
  white-space: nowrap;
}
.header-sing:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-image: url('../image/sprite.png');
  background-position: -148px -100px;
  width: 20px;
  height: 24px;
}
.header-sing:hover {
  color: #212121;
}
.header .phone__text {
  text-align: center;
}
#lang-uk:checked ~ .header-box__lang-label-uk,
#lang-ru:checked ~ .header-box__lang-label-ru {
  background-color: #bababa;
  color: #fff;
}
.drop-menu {
  z-index: 999;
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  transition: .3s;
}
.drop-menu__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
.drop-menu.opened {
  right: -100%;
}
.drop-menu__box {
  z-index: 1000;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 80%;
  min-width: 280px;
  box-shadow: 0 0 30px 1px rgba(20, 24, 30, 0.5);
  background-color: #fff;
  padding: 30px 30px 40px 30px;
}
.drop-menu__close {
  background-image: url('../image/sprite.png');
  background-position: -222px -113px;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 20px;
  right: 17px;
  opacity: .8;
  transition: .3s;
}
.drop-menu__close:hover {
  opacity: 1;
}
.drop-menu__sing {
  margin-bottom: 30px;
  position: relative;
}
.drop-menu__sing-link {
  display: inline-block;
  padding-left: 40px;
  position: relative;
  color: #bababa;
  font-size: 14px;
  font-weight: 300;
}
.drop-menu__sing-link span {
  position: absolute;
  background-image: url('../image/sprite.png');
  background-position: -148px -100px;
  width: 20px;
  height: 24px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.drop-menu__sing-content {
  display: none;
  margin-bottom: 30px;
}
.drop-menu__sing-content.opened {
  display: block;
}
.drop-menu__list {
  margin-bottom: 45px;
  list-style-type: none;
}
.drop-menu__link {
  display: block;
  padding: 7px 0;
  text-decoration: none;
  color: #212121;
  font-size: 16px;
  font-weight: 700;
}
.drop-menu__lang .header-box__lang {
  border-radius: 2px;
  display: flex;
  width: 100px;
}
.drop-menu__lang .header-box__lang input {
  display: none;
}
.drop-menu__lang .header-box__lang-label {
  color: #bababa;
  display: block;
  width: 50px;
  text-align: center;
  line-height: 25px;
  font-size: 14px;
  font-weight: 300;
  transition: .3s;
  cursor: pointer;
}
.drop-menu__lang .header-box__lang-label:hover {
  color: #fff;
  background-color: #e0e0e0;
}
.header-box__lang input:checked ~ .header-box__lang-label {
  background-color: #bababa;
  color: #fff;
}
.reviews-text-error {
  display: none;
}
.panel.panel-default.ulogin_panel {
  display: none;
}
.hit {
  padding-bottom: 100px;
}
.hit h2 {
  margin-bottom: 65px;
}
.hit h2.small {
  display: none;
}
.hit__content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.hit-item {
  width: 33.3333333%;
  padding: 0 15px;
  margin-bottom: 30px;
}
.hit-item__box {
  position: relative;
  background-size: 320px 260px;
  padding: 262px 40px 35px 40px;
  background-color: #f0f0f0;
  background-repeat: no-repeat;
  background-position: right top;
  transition: .3s;
  text-decoration: none;
  display: block;
  color: #212121;
}
.hit-item__box:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.hit-item__name {
  font-family: Comfortaa;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  display: block;
}
.hit-item__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  min-height: 100px;
  margin-bottom: 45px;
  display: block;
}
.hit-item__info {
  display: flex;
  margin: 0 -7px;
  justify-content: center;
}
.hit-item__info-box {
  width: 50%;
  text-align: center;
  padding: 0 7px;
  display: block;
  transition: .1s;
  cursor: default;
}
.hit-item__info-box:hover {
  color: #e9ae4a;
}
.hit-item__info-box:hover .hit-item__btn {
  cursor: pointer;
}
.hit-item__info-box:hover .hit-item__info-block {
  border-color: #e9ae4a;
}
.hit-item__info-box.active .hit-item__btn {
  background-color: #e9ae4a;
  color: #fff;
  cursor: pointer;
}
.hit-item__info-box.active .hit-item__info-block {
  border-color: #e9ae4a;
}
.hit-item__info-block {
  border-radius: 2px;
  margin-bottom: 20px;
  display: block;
  padding: 10px 0;
}
.hit-item__info-size {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  display: block;
}
.hit-item__info-size span {
  font-size: 14px;
  font-weight: 300;
  display: block;
}
.hit-item__info-price {
  font-size: 24px;
  font-weight: 700;
  display: block;
}
.hit-item__btn {
  color: #e9ae4a;
  border: 1px solid #e9ae4a;
  width: 100%;
  height: 45px;
  background-color: transparent;
}
.mode-hit:after {
  content: attr(data-info);
  position: absolute;
  top: 223px;
  left: 40px;
  width: 100px;
  height: 25px;
  border-radius: 2px;
  border: 1px solid #ca1b54;
  color: #ca1b54;
  font-size: 14px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ingredients-popup {
  box-shadow: 0 0 50px 1px rgba(20, 24, 30, 0.3);
  background-color: #ffffff;
  position: relative;
}
.ingredients-popup .menu-tabs {
  margin-bottom: 0;
}
.ingredients-popup .menu-tabs__link {
  padding: 15px;
  transition: all .2s;
}
.ingredients-popup .menu-tabs__link:after {
  content: none;
  border: 0 none;
}
.ingredients-popup .menu-tabs__link.active {
  border-bottom: 3px solid #e9ae4a;
}
.ingredients-popup.container {
  padding: 20px;
}
.ingredients-popup__top {
  display: flex;
  margin-bottom: 40px;
  align-items: flex-start;
}
.ingredients-popup__item {
  width: 220px;
  background-color: #f0f0f0;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 35px;
}
.ingredients-popup__item-img {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.ingredients-popup__item-img img {
  display: block;
  max-width: 100%;
}
.ingredients-popup__item-name {
  color: #e9ae4a;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}
.ingredients-popup__item-size {
  font-size: 12px;
}
.ingredients-popup__item-price {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 7px;
}
.ingredients-popup__item-btn {
  width: 140px;
  height: 30px;
}
.ingredients-popup__box {
  display: flex;
  flex-wrap: wrap;
}
.ingredients-popup__box-item {
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
  padding-left: 55px;
}
.ingredients-popup__box-add {
  position: absolute;
  top: 13px;
  left: 0;
  color: #e9ae4a;
  font-size: 72px;
  font-weight: 300;
  line-height: .7;
}
.ingredients-popup__box-img {
  position: relative;
  margin-bottom: 7px;
  height: 75px;
  width: 85px;
}
.ingredients-popup__box-img img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
}
.ingredients-popup__box-name {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 7px;
  text-align: center;
}
.ingredients-popup__box-name_count {
  color: #e51a4c;
}
.ingredients-popup__box-close {
  display: block;
  margin: 0 auto;
  background-image: url('../image/sprite.png');
  background-position: -148px -124px;
  width: 21px;
  height: 21px;
  opacity: .8;
  transition: .3s;
}
.ingredients-popup__box-close:hover {
  opacity: 1;
}
.ingredients-popup__tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}
.ingredients-popup__tabs-link {
  text-decoration: none;
  color: #212121;
  font-weight: 300;
  padding: 6px 20px;
  border: 1px solid transparent;
  margin: 0 9px;
  white-space: nowrap;
  transition: .3s;
  margin-bottom: 10px;
}
.ingredients-popup__tabs-link.active {
  color: #e9ae4a;
  border-color: #e9ae4a;
}
.ingredients-popup__tabs-link:hover {
  color: #e9ae4a;
}
.ingredients-popup__range {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ingredients-popup__range-item {
  width: 145px;
  padding: 0 15px;
  margin-bottom: 20px;
  text-align: center;
}
.ingredients-popup__range-img {
  height: 85px;
  position: relative;
  margin-bottom: 5px;
}
.ingredients-popup__range-img img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
}
.ingredients-popup__range-name {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
  margin-bottom: 7px;
}
.ingredients-popup__range-price {
  font-weight: 700;
  margin-bottom: 7px;
}
.ingredients-popup__range-add {
  color: #e9ae4a;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  opacity: .8;
  transition: .3s;
}
.ingredients-popup__range-add:hover {
  opacity: 1;
}
.reviews {
  padding-bottom: 57px;
  padding-top: 92px;
}
.reviews_title {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 77px;
  font-family: Comfortaa, Arial, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  display: block;
}
.reviews__content {
  margin: 0 -35px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.reviews__content > p {
  margin-bottom: 100px;
}
.reviews-item {
  width: 50%;
  padding: 0 35px;
  margin-bottom: 65px;
  text-align: center;
}
.reviews-item__name {
  font-weight: 700;
  margin-bottom: 20px;
}
.reviews-item__name span {
  color: #e9ae4a;
}
.reviews-item__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 20px;
}
.reviews-item__date {
  color: #bababa;
  font-size: 14px;
  font-weight: 300;
}
.reviews-faq {
  margin-bottom: 90px;
}
.reviews-faq_title {
  margin-bottom: 58px;
  text-align: center;
  font-family: Comfortaa, Arial, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  display: block;
}
.reviews-faq__box {
  width: 100%;
  max-width: 945px;
  margin: 0 auto 20px;
  border-radius: 2px;
  border: 2px solid #f0f0f0;
  overflow: hidden;
}
.reviews-faq__box.opened .reviews-faq__link:after {
  transform: rotate(-135deg);
  margin-top: -4px;
}
.reviews-faq__box.opened .reviews-faq__content {
  height: auto;
  max-height: 600px;
}
.reviews-faq__link {
  display: block;
  border-radius: 2px;
  background-color: #f0f0f0;
  padding: 15px 80px 15px 30px;
  color: #212121;
  font-weight: 700;
  line-height: 20px;
  position: relative;
  text-decoration: none;
}
.reviews-faq__link:hover {
  background-color: #d7d7d7;
}
.reviews-faq__link:after {
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -12px;
  right: 30px;
  width: 16px;
  height: 16px;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  transform: rotate(45deg);
}
.reviews-faq__content {
  font-weight: 300;
  transition: .3s;
  max-height: 0;
}
.reviews-faq__content-box {
  padding: 15px 30px;
}
.reviews-info {
  color: rgba(33, 33, 33, 0.8);
}
.reviews-info__title {
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 10px;
}
.reviews-info p {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 10px;
}
.reviews-info p:last-child {
  margin-bottom: 20px;
}
.reviews-info__link {
  text-decoration: underline;
  color: rgba(248, 177, 62, 0.8);
  font-size: 14px;
  font-weight: 700;
}
.reviews-info__link:hover {
  text-decoration: none;
}
.services {
  padding: 20px 0 80px 0;
}
.services__content {
  margin: 0 -8px;
  display: flex;
}
.services-item {
  width: 25%;
  padding: 0 8px;
}
.services-item__box {
  position: relative;
  padding-top: 100px;
  text-align: center;
}
.services-item__icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -100px;
}
.services-item__icon-dough {
  background-image: url('../image/sprite.png');
  background-position: -74px -100px;
  width: 74px;
  height: 70px;
  top: 0;
}
.services-item__icon-products {
  background-image: url('../image/sprite.png');
  background-position: 0px -100px;
  width: 74px;
  height: 72px;
  top: 2px;
}
.services-item__icon-rolling {
  background-image: url('../image/sprite.png');
  background-position: -184px 0px;
  width: 64px;
  height: 63px;
  top: 12px;
}
.services-item__icon-kitchen {
  background-image: url('../image/sprite.png');
  background-position: -110px 0px;
  width: 74px;
  height: 73px;
  top: 3px;
}
.services-item__name {
  font-family: Comfortaa, Arial, sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}
.services-item__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
}
.shipping {
  background-image: url('/catalog/view/theme/pizza/image/shipping.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0 50px;
}
.shipping__content {
  width: 100%;
  margin: 0 auto;
  color: #ffffff;
  text-align: center;
}
.shipping__name {
  font-family: Comfortaa;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 22px;
}
.shipping__text {
  line-height: 24px;
  margin-bottom: 30px;
}
.shipping__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-decoration: none;
  color: #ffffff;
  font-weight: 300;
  width: 200px;
  height: 45px;
  border-radius: 2px;
  border: 1px solid #ffffff;
  transition: .3s;
}
.shipping__btn:hover {
  color: #212121;
  background-color: #fff;
}
.sing-log {
  position: absolute;
  top: 100%;
  right: 0;
  width: 585px;
  box-shadow: 0 20px 50px rgba(20, 24, 30, 0.3);
  border-radius: 2px;
  background-color: #ffffff;
  z-index: 99;
  display: none;
  padding: 50px 90px 45px 65px;
}
.sing-log.opened {
  display: block;
}
.sing-log:before {
  content: '';
  position: absolute;
  top: -18px;
  right: 55px;
  border-bottom: 18px solid #fff;
  border-right: 17px solid transparent;
  border-left: 17px solid transparent;
}
.sing-log__label {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  position: relative;
}
.sing-log__label > div {
  width: 250px;
}
.sing-log__label > div input {
  width: 100%;
}
.sing-log__label-name {
  width: 65px;
  min-width: 65px;
  text-align: right;
  font-size: 14px;
  font-weight: 300;
  margin-right: 30px;
}
.sing-log__label input {
  flex: 1;
  height: 35px;
  border-radius: 2px;
  border: 1px solid #bababa;
  font-size: 16px;
  padding: 0 15px;
}
.sing-log__label input.error {
  border-color: #e51a4c;
  color: #e51a4c;
}
.sing-log__label input.error::-webkit-input-placeholder {
  color: #e51a4c;
}
.sing-log__label input.error::-moz-placeholder {
  color: #e51a4c;
}
.sing-log__label.label-info {
  text-align: center;
  justify-content: center;
  background: rgba(229, 26, 76, 0.8);
  padding: 10px;
  color: white;
}
.sing-log__box {
  padding-left: 95px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.sing-log__box-label {
  display: flex;
  align-items: center;
}
.sing-log__box-label input {
  display: none;
}
.sing-log__box-check {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #bababa;
  margin-right: 10px;
  position: relative;
}
.sing-log__box-check:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  background-color: #e9ae4a;
  opacity: 0;
  transition: .3s;
}
.sing-log__box-name {
  color: #bababa;
  font-size: 14px;
  font-weight: 300;
}
.sing-log__box-link {
  color: #e51a4c;
  font-size: 14px;
  font-weight: 300;
  text-decoration: none;
}
.sing-log__box-link:hover {
  text-decoration: underline;
}
.sing-log__enter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 15px;
}
.sing-log__enter-title {
  font-size: 18px;
  font-weight: 300;
  margin-right: 20px;
}
.sing-log__enter-item {
  display: block;
  opacity: .8;
  transition: .3s;
}
.sing-log__enter-item:hover {
  opacity: 1;
}
.sing-log__enter-item-facebook {
  background-image: url('../image/sprite.png');
  background-position: -148px -145px;
  width: 21px;
  height: 21px;
}
.sing-log__controls {
  display: flex;
  align-items: center;
}
.sing-log__reg {
  color: #e9ae4a;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  opacity: .8;
  transition: .3s;
}
.sing-log__reg:hover {
  opacity: 1;
}
.sing-log__reg-wrap {
  flex: 1;
}
.sing-log__log {
  color: #e9ae4a;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  opacity: .8;
  transition: .3s;
}
.sing-log__log:hover {
  opacity: 1;
}
.sing-log__log-wrap {
  flex: 1;
}
.sing-log__btn {
  width: 200px;
  height: 40px;
}
.sing-log__box-label input:checked ~ .sing-log__box-check:after {
  opacity: 1;
}
.slider-item {
  position: relative;
}
.slider-item img {
  display: block;
  width: 100%;
}
.slider-item__wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.slider-item .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.slider-item__title {
  font-family: Comfortaa, Arial, sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
  color: #ffffff;
  margin-bottom: 55px;
}
.slider-item__title span {
  color: #e9ae4a;
  display: block;
}
.slider-item__btn {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 40px;
  border-radius: 2px;
  border: 2px solid #e9ae4a;
  color: #e9ae4a;
  font-weight: 300;
  transition: .3s;
}
.slider-item__btn:hover {
  background-color: #e9ae4a;
  color: #fff;
}
.slider .owl-dots {
  font-size: 0;
  text-align: center;
  position: absolute;
  bottom: 65px;
  left: 0;
  width: 100%;
}
.slider .owl-dot {
  width: 20px;
  height: 20px;
  border: 2px solid #e9ae4a;
  border-radius: 50%;
  margin: 0 10px;
  display: inline-block;
  transition: .3s;
}
.slider .owl-dot:hover,
.slider .owl-dot.active {
  background-color: #e9ae4a;
}
.card h1,
.card h2 {
  text-align: center;
  margin-bottom: 75px;
}
.card.page {
  margin-bottom: 0;
}
.card__top {
  margin-bottom: 75px;
  position: relative;
}
.card__top h1,
.card__top h2 {
  margin-bottom: 0;
}
.card__controls-breadcrumb {
  list-style-type: none;
}
.card__controls-breadcrumb li {
  display: inline;
  color: #e9ae4a;
}
.card__controls-breadcrumb li a {
  color: #e9ae4a;
  text-decoration: none;
}
.card__controls-breadcrumb li i {
  color: rgba(33, 33, 33, 0.6);
  opacity: .6;
}
.card__btn {
  color: #e9ae4a;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-decoration: none;
  opacity: 0.8;
  transition: .3s;
}
.card__btn:hover {
  opacity: 1;
}
.card__prev {
  left: 0;
}
.card__next {
  right: 0;
}
.card__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 880px;
  margin: 0 auto 40px;
}
.card__block {
  width: 100%;
  max-width: 457px;
}
.card__img {
  width: 100%;
}
.card__img img {
  display: block;
  max-width: 100%;
}
.card__text {
  color: rgba(33, 33, 33, 0.6);
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  width: 100%;
  max-width: 332px;
}
.card-price {
  margin-bottom: 65px;
}
.card-price__wrap {
  width: 322px;
  padding-top: 30px;
}
.card-price__box {
  border-radius: 2px;
  padding: 20px 40px 20px 70px;
  position: relative;
  display: block;
  cursor: pointer;
  transition: .3s;
}
.card-price__box:first-child {
  margin-bottom: 20px;
}
.card-price__box.active,
.card-price__box:hover {
  border-color: #e9ae4a;
}
.card-price__box.active .card-price__dot,
.card-price__box:hover .card-price__dot {
  border-color: #e9ae4a;
}
.card-price__box.active .card-price__dot:after,
.card-price__box:hover .card-price__dot:after {
  background-color: #e9ae4a;
}
.card-price__box.active .card-price__info,
.card-price__box:hover .card-price__info {
  color: #e9ae4a;
}
.card-price__box input {
  display: none;
}
.card-price__dot {
  position: absolute;
  left: 23px;
  top: 50%;
  transform: translateY(-50%);
  width: 26px;
  height: 26px;
  border: 1px solid #bababa;
  border-radius: 50%;
  border: 1px solid #bfbfbf;
  transition: .3s;
}
.card-price__dot:after {
  opacity: 0;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #bfbfbf;
  transform: translate(-50%, -50%);
  transition: .3s;
}
.card-price__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .3s;
}
.card-price__size {
  font-weight: 700;
}
.card-price__size span {
  display: block;
  font-weight: 300;
  font-size: 14px;
}
.card-price__num {
  font-size: 24px;
  font-weight: 700;
}
.card-price__btn {
  border-radius: 2px;
  border: 1px solid #e9ae4a;
  height: 45px;
  color: #e9ae4a;
  transition: .3s;
}
.card-price__btn:first-child {
  margin-bottom: 20px;
}
.card-price__btn:first-child:hover {
  background-color: #e9ae4a;
  color: #ffffff;
  border: 1px solid #e9ae4a;
}
.card-price__btn:first-child.btn-orange {
  color: #fff;
}
.card-price__btn:first-child.btn-orange:hover {
  border-color: #e39a1d;
  background-color: #e39a1d;
}
.card-reviews {
  padding: 60px 0;
  background-color: #e9ae4a;
}
.card-reviews_title {
  color: #fff;
  text-align: center;
  font-family: Comfortaa, Arial, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 55px;
  display: block;
}
.card-reviews__form {
  width: 100%;
  max-width: 535px;
  margin: 0 auto;
}
.card-reviews__form.success-reviews {
  color: green;
  text-align: center;
  padding-bottom: 30px;
}
.card-reviews__box {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
  position: relative;
}
.card-reviews__box input {
  width: 100%;
  max-width: 250px;
  height: 40px;
  border-radius: 2px;
  border: 1px solid #ffffff;
  padding: 15px 20px;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}
.card-reviews__box input::-webkit-input-placeholder {
  color: #fff;
}
.card-reviews__box input::-moz-placeholder {
  color: #fff;
}
.card-reviews__box input.error {
  border: 1px solid red;
}
.card-reviews__stars {
  width: 100%;
  max-width: 250px;
  display: flex;
  justify-content: space-between;
  padding: 8px 20px;
}
.card-reviews__stars-item {
  background-image: url('../image/sprite.png');
  background-position: -154px -73px;
  width: 22px;
  height: 22px;
}
.card-reviews__stars-item.fill {
  background-image: url('../image/star_full.png');
  background-position: 0px 0px;
  width: 22px;
  height: 22px;
}
.card-reviews__stars-item.fills {
  background-image: url('../image/star_full.png');
  background-position: 0px 0px;
  width: 22px;
  height: 22px;
}
.card-reviews__stars.error {
  box-shadow: 0px 0px 3px red;
}
.card-reviews__mess {
  padding: 15px 20px;
  background-color: transparent;
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  border-radius: 2px;
  border: 1px solid #ffffff;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}
.card-reviews__mess::-webkit-input-placeholder {
  color: #fff;
}
.card-reviews__mess::-moz-placeholder {
  color: #fff;
}
.card-reviews__mess.error {
  border: 1px solid red;
}
.card-reviews__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40px;
  width: 100%;
  max-width: 250px;
  border: 1px solid #fff;
  color: #fff;
  transition: .3s;
  background-color: transparent;
  margin: 20px auto 0;
  border-radius: 2px;
  cursor: pointer;
}
.card-reviews__submit:hover {
  color: #212121;
  background-color: #fff;
}
.card__recom {
  margin-bottom: 30px;
}
.card__recom-title {
  margin-bottom: 40px;
  font-family: Comfortaa, Arial, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  display: block;
  text-align: center;
}
.card.error {
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.13) !important;
  color: red;
}
.card.error + .reviews-text-error {
  display: flex;
  position: relative;
  font-size: 15px;
  text-align: left;
  padding: 3px;
  background: rgba(255, 0, 0, 0.6);
  color: white;
  justify-content: center;
}
.card .description {
  width: 100%;
  max-width: 880px;
  margin: 0 auto 90px;
}
.description a {
  text-decoration: none;
  color: #e9ae4a;
}
.description ul,
.description ol {
  margin-top: 10px;
  margin-left: 15px;
}
.user-auth span.error {
  color: red;
  border: none;
  background: inherit;
  background-color: initial !important;
}
.user-auth .error {
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.13) !important;
}
.user-auth .error + .reviews-text-error {
  display: flex;
  position: relative;
  font-size: 15px;
  text-align: left;
  padding: 3px;
  background: rgba(255, 0, 0, 0.6);
  color: white;
  justify-content: center;
}
#reviewsAddForm .error {
  border: 1px solid red;
}
#reviewsAddForm .error + .reviews-text-error {
  display: flex;
  position: relative;
  font-size: 15px;
  text-align: left;
  padding: 3px;
  background: rgba(255, 0, 0, 0.6);
  color: white;
  justify-content: center;
}
.card-price__box input:checked ~ .card-price__dot:after {
  opacity: 1;
}
.ingredients {
  width: 100%;
  max-width: 880px;
  margin: 0 auto 90px;
}
.ingredients__title {
  font-family: Comfortaa;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
}
.ingredients__content {
  margin: 0 -38px;
  display: flex;
  flex-wrap: wrap;
}
.ingredients-item {
  padding: 0 38px;
}
.ingredients-item__img {
  height: 80px;
  overflow: hidden;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ingredients-item__img img {
  display: block;
  max-width: 100%;
}
.ingredients-item__name {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}
.contacts {
  padding-bottom: 100px;
}
.contacts h2 {
  margin-bottom: 45px;
}
.contacts-info {
  margin-bottom: 40px;
  display: flex;
}
.contacts-info__list:first-child {
  margin-right: 154px;
}
.contacts-info__item {
  margin-bottom: 30px;
}
.contacts-info__item:last-child {
  margin-bottom: 0;
}
.contacts-info__title {
  font-weight: 700;
  margin-bottom: 10px;
}
.contacts-info__text {
  font-weight: 300;
}
.contacts-info__icon {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
  opacity: 0.8;
  transition: .3s;
}
.contacts-info__icon:hover {
  opacity: 1;
}
.contacts-info__icon-vk {
  background-image: url('../image/sprite.png');
  background-position: -184px -157px;
  width: 26px;
  height: 15px;
}
.contacts-info__icon-facebook {
  background-image: url('../image/sprite.png');
  background-position: -148px -145px;
  width: 21px;
  height: 21px;
}
.contacts-info__line {
  font-weight: 300;
  margin-bottom: 10px;
  padding-left: 12px;
  position: relative;
}
.contacts-info__line:before {
  position: absolute;
  top: 8px;
  left: 0;
  border-radius: 50%;
  width: 3px;
  height: 3px;
  background-color: #212121;
}
.contacts-info__line span {
  font-weight: bold;
  white-space: nowrap;
}
.slider-small {
  display: none;
  background-image: url("/catalog/view/theme/pizza/image/slider__small.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 35px 0;
  text-align: center;
  color: #fff;
}
.slider-small__title {
  font-family: Comfortaa, Arial, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 20px;
}
.slider-small__text {
  font-weight: 300;
  line-height: 24px;
  margin-bottom: 25px;
}
.slider-small__btn {
  width: 200px;
  height: 40px;
  border-radius: 2px;
  border: 1px solid #ffffff;
  display: inline-block;
  line-height: 38px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  transition: .3s;
}
.slider-small__btn:hover {
  background-color: #fff;
  color: #212121;
}
.phone__text--small {
  display: none;
}
.burg {
  display: none;
}
.menu {
  padding-bottom: 100px;
}
.menu h1 {
  text-align: center;
  margin-bottom: 22px;
}
.menu .hit__content {
  margin-bottom: 30px;
}
.menu .reviews__content {
  margin-top: 77px;
}
.menu-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.menu-tabs form {
  display: flex;
}
.menu-tabs__item {
  position: relative;
  margin: 0 15px;
  margin-bottom: 20px;
}
.menu-tabs__item.active .menu-tabs__link:after {
  transform: rotate(-135deg);
  margin-top: -1px;
}
.menu-tabs__item.active .menu-tabs__drop {
  display: block;
}
.menu-tabs__link {
  text-decoration: none;
  position: relative;
  padding-right: 20px;
  color: #212121;
}
.menu-tabs__link:after {
  content: '';
  position: absolute;
  right: 0;
  margin-top: -4px;
  top: 50%;
  width: 5px;
  height: 5px;
  border-bottom: 1px solid #212121;
  border-right: 1px solid #212121;
  transform: rotate(45deg);
}
.menu-tabs__drop {
  position: absolute;
  top: 100%;
  left: -10px;
  box-shadow: 0 0 50px 1px rgba(20, 24, 30, 0.3);
  border-radius: 2px;
  background-color: #ffffff;
  padding: 20px;
  z-index: 10;
  min-width: 250px;
  max-width: 300px;
  margin-top: 15px;
  display: none;
}
.menu-tabs__drop:before {
  content: '';
  position: absolute;
  top: -15px;
  left: 30px;
  border-bottom: 15px solid #ffffff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}
.menu-tabs__line {
  margin-bottom: 15px;
}
.menu-tabs__line:last-child {
  margin-bottom: 0;
}
.menu-tabs__line-label {
  position: relative;
  padding-left: 40px;
  display: block;
}
.menu-tabs__line-label.disable {
  color: #ccc;
}
.menu-tabs__line-label input {
  display: none;
}
.menu-tabs__line-box {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #bababa;
  position: absolute;
  left: 0;
  top: 0;
}
.menu-tabs__line-box:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  background-color: #e9ae4a;
  transition: .3s;
  opacity: 0;
}
.menu-tabs__line-name {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
}
.menu__text {
  text-align: center;
  color: rgba(33, 33, 33, 0.6);
  font-size: 12px;
  margin-bottom: 45px;
}
.menu-tabs__line-label input:checked ~ .menu-tabs__line-box:after {
  opacity: 1;
}
.payment {
  padding-bottom: 55px;
}
.payment h2 {
  margin-bottom: 40px;
  line-height: 1.2;
}
.payment h2 span {
  color: #f8b13e;
}
.payment__text {
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 40px;
}
.payment__text p {
  margin-bottom: 15px;
}
.payment__text p:last-child {
  margin-bottom: 0;
}
.payment__info {
  font-weight: 700;
  margin-bottom: 50px;
}
.profile {
  padding-bottom: 70px;
}
.profile h2 {
  margin-bottom: 15px;
}
.profile__title {
  font-size: 24px;
}
.profile__title a {
  color: #f8b13e;
  text-decoration: none;
}
.profile__title a:hover {
  text-decoration: underline;
}
.profile-history {
  margin-top: 50px;
  margin-bottom: 45px;
}
.profile-history__conrols {
  text-align: center;
  display: none;
}
.profile-history__conrols a {
  text-decoration: none;
  color: #e9ae4a;
  font-size: 15px;
}
.profile-history__conrols a:hover {
  text-decoration: underline;
}
.profile-history .profile__title {
  margin-bottom: 25px;
}
.profile-history__content {
  padding: 0 40px;
  position: relative;
}
.profile-history__item {
  border-radius: 2px;
  background-color: #f0f0f0;
  padding: 20px 30px;
}
.profile-history__line {
  display: flex;
  margin-bottom: 5px;
}
.profile-history__line-name {
  width: 80px;
  margin-right: 25px;
  font-size: 18px;
  font-weight: 700;
}
.profile-history__line-value {
  flex: 1;
  font-weight: 300;
}
.profile-history__line-value span {
  color: #e9ae4a;
  display: block;
  font-weight: 300;
}
.profile-history__btn {
  height: 30px;
  border-radius: 2px;
  border: 1px solid #e9ae4a;
  color: #e9ae4a;
  text-decoration: none;
  transition: .3s;
  margin-top: 10px;
  font-weight: 300;
}
.profile-history__btn:hover {
  background-color: #e9ae4a;
  color: #fff;
}
.profile .owl-nav > div {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid #e9ae4a;
  border-right: 2px solid #e9ae4a;
  opacity: .8;
  transition: .3s;
}
.profile .owl-nav > div.disabled {
  border-color: #212121;
}
.profile .owl-nav .owl-prev {
  left: 0;
  transform: rotate(135deg);
}
.profile .owl-nav .owl-next {
  right: 0;
  transform: rotate(-45deg);
}
.profile-form {
  margin-top: 45px;
}
.profile-form__content {
  display: flex;
  justify-content: space-between;
}
.profile-form__box-name {
  font-size: 14px;
  font-weight: 300;
  margin-right: 30px;
  text-align: right;
  min-width: 70px;
}
.profile-form__box:first-child {
  min-width: 445px;
}
.profile-form__box-current-adresses {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.profile-form__box-current-adresses-adress-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}
.profile-form__box-current-adresses-adress-row span {
  max-width: 500px;
}
.profile-form__box-current-adresses-adress-row_remove {
  opacity: 0.8;
  transition: .3s;
  background-image: url(/catalog/view/theme/pizza/image/sprite.png);
  background-position: -222px -113px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.profile-form__label {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.profile-form__label_notice {
  display: flex;
  color: red;
  font-size: 14px;
  margin-top: -10px;
  padding-bottom: 5px;
  justify-content: flex-end;
}
.profile-form__label input {
  width: 345px;
  height: 35px;
  padding: 0 15px;
  border-radius: 2px;
  border: 1px solid #bababa;
  font-size: 14px;
}
.profile-form__label input.error {
  border: 1px solid red;
}
.profile-form__add-label {
  text-align: right;
  margin-bottom: 25px;
  margin-top: 15px;
}
.profile-form__add-label a {
  text-decoration: none;
  color: #e9ae4a;
  font-size: 16px;
  font-weight: 300;
}
.profile-form__add-label a:hover {
  text-decoration: underline;
}
.profile-form__controls {
  text-align: right;
}
.profile-form__btn {
  display: inline-flex;
  width: 200px;
  height: 40px;
}
.profile-form__drop {
  margin-bottom: 30px;
  display: none;
}
.profile-form__drop.opened {
  display: block;
}
.profile-form__drop-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 345px;
  margin: 0 0 0 100px;
}
.profile-form__drop-item {
  width: 100%;
  max-width: 165px;
}
.profile-form__drop-item .profile-form__label {
  flex-direction: column;
  align-items: flex-start;
}
.profile-form__drop-item .profile-form__label input {
  width: 100%;
}
.profile-form__drop-item .profile-form__box-name {
  text-align: left;
  margin-right: 0;
  margin-bottom: 10px;
}
.stocks {
  padding-bottom: 95px;
}
.stocks h2 {
  margin-bottom: 45px;
}
.stocks__content {
  display: flex;
  margin: 0 -15px;
}
.stocks__box:nth-child(odd) {
  padding: 0 15px;
}
.stocks__box:nth-child(even):after {
  content: '';
  display: table;
  clear: both;
}
.stocks-item {
  height: 542px;
  position: relative;
  display: block;
  text-decoration: none;
  transition: .3s;
}
.stocks-item__info {
  padding-top: 94px;
  text-align: center;
  display: block;
}
.stocks-item__title {
  color: #ffffff;
  font-family: Comfortaa, Arial, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 0.8;
}
.stocks-item__title span {
  margin-top: 20px;
  display: block;
  font-size: 18px;
}
.stocks-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.stocks-item__box {
  width: 50%;
  padding: 0 15px;
  float: left;
  min-height: 320px;
}
.stocks-item__box .stocks-item {
  height: 200px;
  background: no-repeat right;
}
.stocks-item__box .stocks-item.gray {
  background-color: #f0f0f0;
}
.stocks-item__box .stocks-item.red {
  background-color: #e41a4c;
}
.stocks-item__box .stocks-item.black {
  background-color: #222222;
}
.stocks-item__box .stocks-item.yellow {
  background-color: #ecae4b;
}
.stocks-item__box .stocks-item__info {
  position: absolute;
  top: 50%;
  left: 55px;
  transform: translateY(-50%);
  padding-top: 0;
  text-align: left;
}
.stocks-item__box .stocks-item__title {
  font-size: 60px;
}
.stocks-item__box .stocks-item__title--color {
  color: #e9ae4a;
}
.stocks-item__text {
  padding: 15px 10px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
.not_found .page_content {
  margin-bottom: 200px;
}
@media (max-width: 1200px) {
  body {
    font-size: 16px;
  }
  .container {
    width: 960px;
  }
  .header .logo {
    margin-right: 30px;
    width: 100px;
    min-width: 100px;
  }
  .header-box__info {
    line-height: 1;
  }
  .phone {
    font-size: 17px;
  }
  .phone__text {
    font-size: 10px;
  }
  .header-box__shipping {
    padding-left: 50px;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .header-box__shipping span {
    font-size: 14px;
  }
  .header-box__lang-label {
    width: 45px;
    line-height: 20px;
  }
  .header-box:last-child {
    margin-left: 25px;
  }
  .header-sing {
    padding-left: 30px;
  }
  .slider-item__title {
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 26px;
  }
  .services__content {
    flex-wrap: wrap;
  }
  .services-item {
    width: 50%;
    margin-bottom: 50px;
  }
  .hit-item__box {
    padding: 262px 20px 35px 20px;
  }
  .mode-hit:after {
    left: 20px;
  }
  .slider .owl-dots {
    bottom: 35px;
  }
  .profile-form__content {
    flex-direction: column;
  }
  .profile-form__box {
    margin: 0 auto;
  }
  .profile-form__box-name {
    width: 170px;
  }
  .profile-form__controls {
    width: 545px;
    margin: 20px auto 0;
  }
  .profile-form__drop {
    flex-direction: column;
    align-items: flex-end;
  }
  .profile-form__drop.opened {
    display: flex;
  }
  .menu-tabs__drop {
    left: -95px;
  }
  .menu-tabs__drop:before {
    left: 110px;
  }
  .bonus-popup__table-line {
    font-size: 12px;
  }
}
@media (max-width: 998px) {
  .container {
    width: 772px;
    padding: 0 7px;
  }
  .header-box__top {
    justify-content: space-around;
  }
  .header-box__info {
    display: none;
  }
  .header-basket__icon {
    transform: scale(0.8);
    margin-bottom: 10px;
  }
  .header-box__link {
    font-size: 12px;
  }
  .header-box:last-child {
    width: 150px;
  }
  .header-sing {
    font-size: 13px;
  }
  .hit__content {
    flex-direction: column;
  }
  .hit-item {
    width: 100%;
    max-width: 400px;
    margin: 0 auto 30px;
  }
  .hit h2 {
    text-align: center;
  }
  .reviews__content {
    display: block;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  .reviews-item {
    width: 100%;
  }
  .reviews__content .owl-nav > div {
    position: absolute;
    top: 55px;
    width: 20px;
    height: 20px;
    border-bottom: 2px solid #212121;
    border-right: 2px solid #212121;
  }
  .reviews__content .owl-nav .owl-prev {
    left: 0;
    transform: rotate(135deg);
  }
  .reviews__content .owl-nav .owl-next {
    right: 0;
    transform: rotate(-45deg);
  }
  .reviews-info {
    padding: 0 30px;
  }
  .footer .logo {
    width: 100px;
    min-width: 100px;
  }
  .slider-item {
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
  }
  .slider-item img {
    opacity: 0;
  }
  .slider-item__title {
    text-align: center;
  }
  .slider-item__btn {
    margin-left: auto;
    margin-right: auto;
  }
  .slider .owl-dots {
    bottom: 15px;
  }
  .card {
    padding-bottom: 0;
  }
  .stocks__content {
    flex-direction: column;
  }
  .stocks__box,
  .stocks__box:nth-child(odd),
  .stocks__box:nth-child(even) {
    width: 100%;
    max-width: 400px;
    margin: 0 auto 40px;
  }
  .stocks h2 {
    text-align: center;
  }
  .stocks-item {
    height: 490px;
    background-size: cover;
    max-width: 360px;
    margin: 0 auto;
  }
  .stocks-item__box {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    float: none;
  }
  .stocks,
  .menu.page {
    padding-bottom: 0;
  }
  .profile-form__drop-box {
    margin-left: 0;
  }
  .menu-tabs {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 786px) {
  .container {
    width: 100%;
  }
  .services-item {
    width: 100%;
    max-width: 400px;
    width: auto;
    margin: 0 auto 30px;
    padding: 0 50px;
  }
  h2 {
    font-size: 30px;
  }
  .reviews__content .owl-nav .owl-next {
    right: 10px;
  }
  .reviews__content .owl-nav .owl-prev {
    left: 10px;
  }
  .header-box__menu,
  .header-link,
  .header-sing,
  .header-basket__summa,
  .header-box__ctrls {
    display: none;
  }
  .header {
    padding: 8px 0;
  }
  .header .logo {
    width: 70px;
    min-width: 70px;
    margin-right: 0;
  }
  .header .container {
    padding: 0 30px;
    justify-content: space-between;
  }
  .header .container,
  .header .header__content {
    align-items: center;
  }
  .header-box:last-child {
    padding-bottom: 0;
    margin-left: 0;
  }
  .phone__text {
    display: none;
  }
  .phone__text--small {
    display: block;
    font-size: 14px;
  }
  .header-basket__icon {
    margin-bottom: 0;
  }
  .burg {
    display: block;
    margin-left: 30px;
  }
  .header-box:last-child {
    width: auto;
  }
  .drop-menu.opened {
    right: 0;
  }
  .page {
    padding-top: 35px;
  }
  .footer__list {
    margin-left: 10px;
  }
  .footer__phone {
    display: none;
  }
  .contacts-info {
    flex-direction: column;
  }
  .contacts-info__list:first-child {
    margin-bottom: 50px;
    margin-right: 0;
  }
  .page {
    padding-bottom: 40px;
  }
  .contacts-info__line span {
    display: block;
    margin-top: 8px;
  }
  .card__controls {
    position: relative;
    margin-top: 25px;
  }
  .card__content {
    flex-direction: column;
    align-items: center;
  }
  .card-price__wrap {
    width: 100%;
    max-width: 322px;
  }
  .ingredients-item {
    padding: 0 5px;
  }
  .ingredients__content {
    margin: 0 -5px;
  }
  .card.page {
    padding-bottom: 0;
  }
  .profile-form__box {
    max-width: 100%;
  }
  .profile-form__label {
    flex-direction: column;
    align-items: flex-start;
  }
  .profile-form__box-name {
    margin-right: 0;
    margin-bottom: 8px;
    text-align: left;
    width: auto;
  }
  .profile-form__controls {
    width: 100%;
    text-align: center;
  }
  .profile__title {
    font-size: 18px;
    text-align: center;
  }
  .profile h2 {
    text-align: center;
  }
  .profile-history__item {
    width: 100%;
    max-width: 400px;
    margin: 0 auto 30px;
  }
  .profile-history__content {
    padding: 0;
  }
  .profile-history__conrols {
    display: block;
  }
  .sing-log.opened {
    display: none;
  }
  .basket-log:before {
    display: none;
  }
  .header__content,
  .header-basket,
  .basket-log__title,
  .basket-log__top {
    position: static;
  }
  .basket-log {
    top: 70px;
    left: 0;
    width: 100%;
    margin-top: 0;
  }
  .basket-log__title {
    padding-top: 40px;
  }
  .basket-log__top-btn--right {
    right: auto;
    left: 15px;
    top: 20px;
  }
  .basket-log__close {
    position: absolute;
    display: block;
    top: 12px;
    right: 33px;
    background-image: url('../image/sprite.png');
    background-position: -148px -124px;
    width: 21px;
    height: 21px;
  }
  .ingredients-popup__top {
    flex-direction: column;
    align-items: center;
  }
  .ingredients-popup__item {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .ingredients-popup__box {
    width: 100%;
    align-items: flex-start;
  }
  .basket-log__form-multi .basket-log__form-label {
    width: auto;
  }
  .basket-log__top-btn--left {
    top: 30px;
  }
  .bonus-popup__table-top {
    display: none;
  }
  .bonus-popup__table-content {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
  }
  .bonus-popup__table-line {
    flex-direction: column;
    border: 1px solid #ccc;
    align-items: flex-start;
    padding: 7px 10px;
  }
  .bonus-popup__table-line--wrap {
    width: 33.333%;
    padding: 0 5px;
    margin-bottom: 10px;
  }
  .bonus-popup__table-line > div {
    position: relative;
    margin-bottom: 7px;
  }
  .bonus-popup__table-line > div:before {
    content: attr(data-info);
    display: block;
    font-weight: bold;
    margin-bottom: 4px;
  }
}
@media (max-width: 786px) {
  .menu-tabs {
    max-width: 410px;
  }
}
@media (max-width: 555px) {
  .sing-log__label {
    flex-direction: column;
    align-items: flex-start;
  }
  .sing-log__label input {
    width: 100%;
  }
  .sing-log__label-name {
    text-align: left;
    margin-right: 0;
    margin-bottom: 8px;
  }
  .sing-log__box {
    padding-left: 0;
  }
  .sing-log__controls {
    flex-direction: column-reverse;
  }
  .sing-log__btn {
    margin-bottom: 20px;
  }
  .sing-log__enter {
    justify-content: flex-start;
  }
  .card-reviews__box {
    flex-direction: column;
    margin-bottom: 0;
  }
  .card-reviews__box input {
    margin-bottom: 20px;
    max-width: 100%;
  }
  .card-reviews__box input.error + .reviews-text-error {
    margin-top: -20px;
    margin-bottom: 20px;
  }
  .card-reviews__stars {
    margin-bottom: 20px;
  }
  .menu-tabs__item {
    position: relative;
    float: left;
  }
  .menu-tabs form {
    display: block;
  }
  .menu-tabs {
    position: relative;
  }
  .menu-tabs__drop {
    left: 0;
    /* transform: translate(-50%);*/
    top: 200%;
    margin-top: -10px;
  }
  .menu-tabs__drop:before {
    display: none;
  }
  .basket-log__form-multi .basket-log__form-label:nth-child(odd) {
    margin-right: 0;
  }
  .basket-log__form-multi .basket-log__form-label {
    width: 100%;
  }
  .basket-log__form-label {
    flex-direction: column;
  }
  .basket-log__form-name {
    width: auto;
    margin-right: 0;
    margin-bottom: 10px;
    text-align: left;
  }
  .basket-log__form-label--select:after {
    top: 45px;
  }
  .basket-log__form-multi {
    padding-left: 0;
  }
  .basket-log__form-multi .basket-log__form-name {
    position: static;
  }
  .basket-log__form-multi .basket-log__form-label {
    width: 45%;
    min-width: 100px;
  }
  .basket-log__form-label--bonus {
    flex-direction: row;
  }
  .basket-log__form-value--bonus {
    width: 100px;
    flex: none;
  }
  .basket-log__form-name--bonus {
    width: 140px;
    text-align: right;
    margin-right: 25px;
  }
  .basket-log__form-summa .basket-log__form-name {
    margin-bottom: 0;
    width: 140px;
    margin-right: 25px;
  }
  .basket-log__form-text br {
    display: none;
  }
  .bonus-popup__table-line--wrap {
    width: 50%;
  }
  .bonus-popup.container {
    padding: 25px 15px;
  }
}
@media (max-width: 440px) {
  .sing-log__box {
    flex-direction: column;
    align-items: flex-start;
  }
  .sing-log__box-label {
    margin-bottom: 15px;
  }
  .profile-form__drop-item {
    width: 48%;
  }
  .ingredients-popup__box {
    justify-content: center;
  }
  .bonus-popup__line > div {
    font-size: 16px;
  }
  .bonus-popup__line-name {
    width: 175px;
  }
  .bonus-popup__line-name {
    margin-right: 10px;
  }
}
@media (max-width: 480px) {
  .shipping,
  .reviews-faq,
  .reviews-info,
  .footer .logo,
  .footer__box,
  .footer__phone,
  .slider {
    display: none;
  }
  .reviews {
    margin-bottom: 0;
    padding-top: 0;
  }
  .reviews h2 {
    margin-bottom: 30px;
  }
  .social {
    margin: 0 auto;
  }
  .footer {
    padding: 30px 0;
  }
  .footer .container {
    justify-content: center;
  }
  .footer__copy {
    display: none;
  }
  .all {
    padding-bottom: 80px;
  }
  .reviews-item {
    margin-bottom: 0;
  }
  .hit {
    padding-bottom: 20px;
  }
  h2 {
    font-size: 24px;
  }
  .maincont {
    display: flex;
    flex-direction: column;
  }
  .maincont .hit {
    order: 1;
    padding-top: 35px;
  }
  .maincont .hit h2 {
    display: none;
  }
  .maincont .hit h2.small {
    display: block;
    margin-bottom: 23px;
  }
  .maincont .services {
    order: 2;
    padding-top: 0;
  }
  .maincont .reviews {
    order: 3;
  }
  .hit-item__info-size {
    margin-bottom: 5px;
  }
  .slider-small {
    display: block;
  }
  .header {
    padding: 10px 0;
  }
  .header .logo {
    width: 50px;
    min-width: 50px;
  }
  .header .container {
    padding: 0 10px;
  }
  .header-basket__icon {
    transform: scale(0.7);
  }
  .phone__item {
    font-size: 14px;
    margin-bottom: 3px;
  }
  .profile-form__label input,
  .profile-form__label,
  .profile-form__box {
    width: 100%;
    max-width: 345px;
  }
  .basket-log__bottom {
    flex-direction: column;
  }
  .basket-log__summa {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .basket-log__item {
    background-size: 70px;
    padding: 20px 40px 20px 75px;
  }
  .basket-log__item-close {
    right: 10px;
  }
  .basket-log__close {
    right: 15px;
  }
  .basket-log__info-line {
    flex-direction: column;
    margin-bottom: 10px;
  }
  .basket-log__info-line > div {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .bonus-popup__table-line--wrap {
    width: 100%;
    max-width: 400px;
    margin: 0 auto 10px;
  }
}
