<div class="basket-log__top">
    <div class="basket-log__title">Оформление заказа</div><a class="basket-log__top-btn basket-log__top-btn--left" data-type="cart" href="#">← Назад</a><a class="basket-log__close" href="#"></a>
</div>
{{ shipping_method }}
<div class="basket-log__content">
    <form class="basket-log__form" id="checkout-form">
        {{ shipping_adresses }}
        <input id="shipping_method_input" type="hidden" name="shipping_method" value="" />
        <div class="basket-log__form-box">
            <label class="basket-log__form-label basket-log__form-label--email"><span class="basket-log__form-name">Ваше имя </span>
                <input class="basket-log__form-value" type="text" value="{{ firstname }}" name="firstname">
            </label>
            <label class="basket-log__form-label basket-log__form-label--telephone"><span class="basket-log__form-name">Телефон<span>*</span></span>
                <input name="telephone" value="{{ telephone }}" class="basket-log__form-value" type="text"/>

            </label>
            <label class="basket-log__form-label basket-log__form-label--email"><span class="basket-log__form-name">E-mail<span>*</span></span>
                <input class="basket-log__form-value" type="text" value="{{ email }}" name="email">
            </label>
        </div>
        <div class="basket-log__form-box">
            <label class="basket-log__form-label"><span class="basket-log__form-name">Комментарий</span>
                <textarea name="comment" class="basket-log__form-mess">{{ comment }}</textarea>
            </label>
        </div>
        <div class="basket-log__form-box">
            <label class="basket-log__form-label basket-log__form-label--bonus"><span class="basket-log__form-name basket-log__form-name--bonus">Количество бонусов<span>Доступно {{ bonuses }}</span></span>
                <input class="basket-log__form-value basket-log__form-value--bonus" value="{{ want_to_use }}" type="text" name="used_points">
            </label>
        </div>
        {{ payment_method }}
        <div class="basket-log__form-box">
            <div class="basket-log__form-summa">
                <div class="basket-log__form-name">Цена</div>
                <div class="basket-log__form-num" data-pickup-discount="{{ pickup_discount }}" data-price="{{ total_cart_price_def }}"><span>{{ total_cart_price }}</span> грн <p class="pickup_text {% if shipping_method_code != 'pickup' and pickup_discount != 0 %}hidden{% endif %}">{% if pickup_discount %}(- {{ pickup_discount }} грн за самовывоз){% endif %}</p></div>
            </div>
        </div>
        {%  if not logged %}
            <div class="basket-log__form-text">Вы получите <span>{{ can_get_bonuses }}</span> гривен на бонусный счет за этот заказ, <br>если сейчас присоединитесь к семье <span  id="login_for_bonuses">Pizza Famiglia</span> </div>
            <div class="basket-log__form-register"><button id="open_auth" class="btn btn-orange">Зарегистрироваться</button></div>
            {% else %}
                <div class="basket-log__form-text">Вы получите <span>{{ can_get_bonuses }}</span> гривен на бонусный счет за этот заказ</div>

        {%  endif %}
    </form>
</div>
<div class="basket-log__bottom basket-log__bottom--center"><a data-type="checkout" class="btn basket-log__btn btn-orange" href="#">Далее</a></div>

<script type="text/javascript">
    $('.basket-log__form-label--telephone input').mask('+38 000 000 00 00');
</script>