{% if addresses %}
<div class="basket-log__form-box {% if code == 'pickup' %}hidden{% endif %}"  id="change_adress_button_container">
    <div class="basket-log__form-box-address">
        <a id="cart_adress_button" data-type="{% if addresses %}saved{% else %}new{% endif %}" href="#" ><i class="fa fa-plus"></i> Добавить адрес</a>
    </div>
</div>
<div class="basket-log__form-box {% if code == 'pickup' %}hidden{% endif %}" id="cart-adress-saved">
    <label class="basket-log__form-label basket-log__form-label--select"><span class="basket-log__form-name">Сохраненные адреса</span>
        <select name="address_id" class="basket-log__form-value">
            {% for address in addresses %}
                {% if address.address_id == address_id %}
                    <option value="{{ address.address_id }}" selected="selected">{{ address.nas_punkt }}, {{ address.street }} {{ address.house }}</option>
                {% else %}
                    <option value="{{ address.address_id }}">{{ address.nas_punkt }}, {{ address.street }} {{ address.house }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </label>
</div>
{% endif %}
<div id="cart-pickup" class="basket-log__form-box {% if code != 'pickup' %}hidden{% endif %}">
    <label class="basket-log__form-label basket-log__form-label--select"><span class="basket-log__form-name">Населенный пункт<span>*</span></span>
        <select name="nas_punkt" class="basket-log__form-value">
            <option>с.Софиевская Борщаговка</option>
        </select>
    </label>
    <label class="basket-log__form-label"><span class="basket-log__form-name">Улица<span>*</span></span>
        <input class="basket-log__form-value" readonly="readonly" type="text" value="Боголюбова"  name="street">
    </label>
    <label class="basket-log__form-label"><span class="basket-log__form-name">Дом<span>*</span></span>
        <input class="basket-log__form-value" type="text" value="12" readonly="readonly" name="house">
    </label>
</div>
<div class="basket-log__form-box {% if addresses or  code == 'pickup' %}hidden{% endif %}" id="cart-adress-new">
    <label class="basket-log__form-label basket-log__form-label--select"><span class="basket-log__form-name">Населенный пункт<span>*</span></span>
        <select name="nas_punkt" class="basket-log__form-value">
            <option {% if nas_punkt == 'Вишневое' %}selected{% endif %}>Вишневое</option>
            <option {% if nas_punkt == 'Софиевская Борщаговка' %}selected{% endif %}>Софиевская Борщаговка</option>
            <!-- <option {% if nas_punkt == 'Петропавловская Борщаговка' %}selected{% endif %}>Петропавловская Борщаговка</option>-->
            <!--   <option {% if nas_punkt == 'Святопетровское' %}selected{% endif %}>Святопетровское</option>-->
            <!--  <option {% if nas_punkt == 'Киев' %}selected{% endif %}>Киев</option>-->
        </select>
    </label>
    <label class="basket-log__form-label"><span class="basket-log__form-name">Улица<span>*</span></span>
        <input required class="basket-log__form-value" value="{{ street }}" type="text" name="street">
    </label>
    <div class="basket-log__form-multi">
        <label class="basket-log__form-label"><span class="basket-log__form-name">Дом<span>*</span></span>
            <input required class="basket-log__form-value" value="{{ house }}" type="text" name="house">
        </label>
        <label class="basket-log__form-label"><span class="basket-log__form-name">Парадное</span>
            <input class="basket-log__form-value" type="text" value="{{ paradnya }}" name="paradnya">
        </label>
        <label class="basket-log__form-label"><span class="basket-log__form-name">Этаж</span>
            <input class="basket-log__form-value" type="text" value="{{ floor }}" name="floor">
        </label>
        <label class="basket-log__form-label"><span class="basket-log__form-name">Квартира</span>
            <input class="basket-log__form-value" type="text" value="{{ flat }}" name="flat">
        </label>
        <label class="basket-log__form-label"><span class="basket-log__form-name">Код двери</span>
            <input class="basket-log__form-value" type="text" value="{{ code_door }}" name="code_door">
        </label>
    </div>
</div>