{% if products %}
    {% for product in products %}
        <div class="basket-log__item" id="basket-item-{{ product.cart_id }}" style="background-image: url('{{ product.thumb }}');"><a  data-cart-id="{{ product.cart_id }}" class="basket-log__item-close" href="#"></a>
            <div class="basket-log__item-box"><a  class="basket-log__item-name" href="{{ product.href }}">{{ product.name }}</a>
                            <span class="basket-log__item-options">({% for option in product.option %}
                                    {{ option.value }} {% endfor %})</span>
                <div class="basket-log__item-attrs">
                    {% if product.attrs %}
                        (
                        {% for attr in product.attrs %}
                            <div class="basket-log__item-attrs-item">
                            <span class="basket-log__item-attrs-item_name">{{ attr.name }}</span>
                            <span class="basket-log__item-attrs-item_count">x {{ attr.count }}</span>
                            </div>{% if loop.index != loop.last %},
                        {% endif %}
                        {% endfor %}
                        )
                    {% endif %}
                </div>
                <div class="basket-log__item-content">
                    <div class="basket-log__item-num"><a class="basket-log__item-btn basket-log__item-btn--left" href="#">-</a>
                        <input {% if product.discount_pizza == 1 %}data-discount="1"{% endif %} {% if product.b_day == 1 %}data-b-day-discount="1"{% endif %} class="product_counter_input" data-product-price="{{ product.price }}" data-cart-id="{{ product.cart_id }}" type="text" name="num[]" value="{{ product.quantity }}"><a class="basket-log__item-btn basket-log__item-btn--right" href="#">+</a>
                    </div>
                    <div class="basket-log__item-price" >{{ product.total }} {% if product.b_day == 1 %}(-{{ product.price * 0.15 *  product.quantity  }} грн (15%)){% endif %}{% if product.discount_pizza ==1 %}(-{{ product.price * 0.5 }} грн (50%)){% endif %}</div>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div align="center"><span>{{ no_products_txt }}</span></div>
{% endif %}
