<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{% if no_index %}
    <meta name="robots" content="noindex, follow" />
{% endif %}
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}
    <meta name="description" content="{{ description }}" />
{% endif %}
{% if keywords %}
    <meta name="keywords" content="{{ keywords }}" />
{% endif %}

<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-NRR5JMC');</script>
    <!-- End Google Tag Manager -->
    {% for link in links %}
        <link href="{{ link.href }}" rel="{{ link.rel }}" />
    {% endfor %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa:700&amp;amp;subset=cyrillic">
    <link rel="stylesheet" href="/catalog/view/javascript/libs/slider/owl.carousel.min.css">
    <link rel="stylesheet" href="/catalog/view/javascript/libs/popup/magnific-popup.css">
    <link rel="stylesheet" href="/catalog/view/theme/pizza/stylesheet/style.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    {% for style in styles %}
        <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
    {% endfor %}

    <script src="/catalog/view/javascript/libs/jquery/jquery-3.2.1.min.js"></script>
    <script src="/catalog/view/javascript/libs/slider/owl.carousel.min.js"></script>
    <script src="/catalog/view/javascript/libs/popup/jquery.magnific-popup.min.js"></script>
    <script src="/catalog/view/javascript/valid.js"></script>
    <script src="/catalog/view/javascript/main.js"></script>
    <script src="/catalog/view/javascript/cart.js"></script>
    <script src="/catalog/view/javascript/checkout.js"></script>
    <script src="/catalog/view/javascript/jquery.mask.js"></script>
    {% for script in scripts %}
        <script src="{{ script }}" type="text/javascript"></script>
    {% endfor %}
    {% for analytic in analytics %}
        {{ analytic }}
    {% endfor %}


</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NRR5JMC"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="all">
    <header class="header">
        <div class="container">{% if logo %}<a class="logo" href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" /></a>{% endif %}
            <div class="header__content">
                <div class="header-box">
                    <div class="header-box__top">
                        <div class="header-box__info"> <!--{{ header_slogan }} --></div>
                        <div class="header-box__phone">
                            <div class="phone">
                                <div class="phone__item"><a class="binct-phone-number-1" href="tel:{{ telephone }}">{{ telephone }}</a></div>
                                <div class="phone__item"><a class="binct-phone-number-2" href="tel:{{ telephone2 }}">{{ telephone2 }}</a></div>
                                <div class="phone__text">11:00 - 23:00 {{ text_titles }}</div>
                                <div class="phone__text phone__text--small">с 11:00 до 23:00</div>
                            </div>
                        </div>
                        <div class="header-box__ctrls">
                            <div class="header-box__shipping">{{ text_title_txt }}</div>
                            <div class="header-box__block">
                                {{ language }}
                                <div class="header-box__card">
                                    <div class="header-box__card-item header-box__card-item-visa"></div>
                                    <div class="header-box__card-item header-box__card-item-master"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav class="header-box__menu">
                        <ul class="header-box__list">
                            {{ menu }}
                        </ul>
                    </nav>
                </div>
                <div class="header-box">
                    <div class="header-basket">

                        <div class="header-basket">
                            <div class="header-basket__box">
                                <div class="header-basket__icon" data-items="{{ cart_count }}"></div>
                                <div class="header-basket__summa">{{ total }} грн</div>
                            </div>
                            <div class="basket-log">
                                <div id="checkout-cart" class="basket-log__box active">
                                    <div class="basket-log__top">
                                        <div class="basket-log__title">{{ text_shopping_cart }}</div><a class="basket-log__top-btn basket-log__top-btn--right" id="clear_basket" href="#">{{ text_clear_cart }}</a><a class="basket-log__close" href="#"></a>
                                    </div>
                                    <div class="basket-log__content" id="cart-products-list">
                                        {{ cart }}
                                    </div>
                                    <div class="basket-log__bottom basket-log__bottom--right">
                                        <div class="basket-log__summa">{{ total }} грн</div><a data-type="cart" class="btn basket-log__btn btn-orange" href="#">{{ text_pay_carts }}</a>
                                    </div>
                                </div>
                                <div id="checkout-checkout" class="basket-log__box">
                                    {{ checkout }}
                                </div>
                                <div id="checkout-confirm" class="basket-log__box">

                                </div>
                                <div class="basket-log__box" id="checkout-success">
                                    
                                </div>
                            </div>
                        </div>

                    </div>
                    {% if logged %}
                        <span class="header-link">
                            <a class="header-sing" href="{{ account }}" title="Личный Кабинет"></a>|<a class="header-link" href="{{ logout }}">{{ text_logout }}</a>
                        </span>

                    {% else %}
                        <a class="header-sing noLink" href="#">{{ text_login_txt }}</a>
                        <div class="sing-log">{{ form_login }}</div>
                    {% endif %}
                </div>
            </div>
            <a class="burg noLink" href="#">
                <svg width="36" height="38">
                    <g>
                        <rect x="0" y="22" fill="#e9ae4a" width="36" height="4"></rect>
                        <rect x="0" y="10" fill="#e9ae4a" width="36" height="4"></rect>
                        <rect x="0" y="34" fill="#e9ae4a" width="36" height="4"></rect>
                    </g>
                </svg>
            </a>
        </div>
        <div class="drop-menu">
            <div class="drop-menu__bg"></div>
            <div class="drop-menu__box"><a class="drop-menu__close noLink" href="#"></a>
                <div class="drop-menu__sing">
                    {% if logged %}
                        <a class="drop-menu__sing-link " href="{{ account }}" title="Личный Кабинет">Личный Кабинет</a> | <a class="drop-menu__sing-link" href="{{ logout }}">{{ text_logout }}</a>
                    {% else %}
                        <a class="drop-menu__sing-link " href="#"><span> </span>{{ text_login_txt }}</a>
                    {% endif %}
                </div>
                <div class="drop-menu__sing-content">
                    {% if logged %}
                    {% else %}
                    {{ form_login }}
                    {% endif %}
                </div>
                <ul class="drop-menu__list">
                    {{ adaptive_menu }}

                </ul>
                <div class="drop-menu__lang">
                    <div class="header-box__lang">
                        {% if languages|length > 1 %}
                        <form action="{{ language_change_action }}" method="post" enctype="multipart/form-data" id="form-language-adaptive">
                            {% for language in languages %}
                                <div class="header-box__lang-box adaptive_lang_box" id="">
                                    <input value="{{ language.code }}" type="radio" {% if language.code == language_code %} checked {% endif %}  name="code" id="lang-{{ language.code }}-menu">
                                    <label class="header-box__lang-label header-box__lang-label-{{ language.code }}" for="lang-{{ language.code }}-menu">{{ language.name }}</label>
                                </div>
                            {% endfor %}
                            <input type="hidden" name="language_redirect" value="{{ redirect }}" />
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>