{% if products %}
{% for product in products %}
<div class="hit-item">
    <a class="hit-item__box {% if product.prod_type > 0 %} mode-hit {% endif %}" href="{{ product.href }}" style="background-image: url({{ product.thumb }});" data-info="{{ product.label_text }}">
        <span class="hit-item__name">{{ product.name }}</span>
        {% set name_length = product.name | length %}
        {% if name_length < 18 %}<br style="font-size: 24px;" />{% endif %}
        {% if product.sostav != '' %}
            <span class="hit-item__text">
                {{ product.sostav }}
            </span>
        {% endif %}
        <span class="hit-item__info">
            {% for option in product.options %}
                {% for key, value in option.product_option_value %}
                    <span class="hit-item__info-box {% if key == 0 %}active{% endif %}">
                        <span class="hit-item__info-block">
                            <span class="hit-item__info-size">{{ value.name }}<span>{% if value.weight > 0 %}{{ value.weight }}{% else %}<br />{% endif %}</span></span>
                            <span class="hit-item__info-price">{{ value.price }}</span>
                        </span>
                        <span class="btn hit-item__btn add-product-cart" data-prodId="{{ product.product_id }}" data-key="{{ key }}">{{ text_to_card }}</span>
                        <input style="display: none;" class="option{{ product.product_id }}_{{ key }}" value="{{ product.optV[key]['prod_val'] }}" name="option[{{  product.optV[key]['opt_val'] }}]" type="checkbox" name="card-price" checked>

                    </span>
                {% endfor %}
            {% endfor %}

        </span>
    </a>
</div>
{% endfor %}
    <script type="text/javascript">
        $('document').ready(function() {
            //change url
            history.pushState(null, null, '{{ url }}');
            {% if change_meta %}
            //set new title
            {% if title != '' %}
            document.title = '{{ title }}';
            $('.menu h1').text('{{ h1_tag }}');
            {% endif %}

            $('meta[name=robots]').remove();
            {% if not allow_index %}
                $('head').append( '<meta name="robots" content="noindex, follow">' );
            {% endif %}

            $('meta[name=keywords]').remove();
            $('head').append( '<meta name="keywords" content="{{ meta_keywords }}">' );

            $('meta[name=description]').remove();
            $('head').append( '<meta name="description" content="{{ meta_description }}">' );
            {% endif %}

            var breadcrumb = $('.breadcrumbs_list li:nth-child(5)');
            if(breadcrumb.length > 0){
                breadcrumb.find('span').text('{{ h1_tag }}')
            }else{
                $('.breadcrumbs_list').append('<li><i class="card__controls-breadcrumb_delimiter">> </i></li>');
                $('.breadcrumbs_list').append('<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><span itemprop="name">{{ h1_tag }}</span><meta itemprop="position" content="3" /></li>');
            }

            {% if attributes is empty %}
                $('.breadcrumbs_list li:nth-child(5)').remove();
                $('.breadcrumbs_list li:nth-child(4)').remove();
            {% endif %}

            $('.menu .description').html('{{ category_description }}');


            //Убираем не нужные атрибуты
            $('.menu-tabs__line-label__input').removeAttr('disabled').parent().removeClass('disable');

            //Ставим не рабочими все ненужные атрибуты
            var attrs_leaved = JSON.parse('{{ attributes_leaved }}');

            $.each($('.menu-tabs__line-label__input'), function(key, val){
                if($.inArray(($(val).val()), attrs_leaved) == -1){
                    $(val).attr('disabled','disabled').parent().addClass('disable')
                }
            })

        });
    </script>
{% endif %}
