{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-information" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">{% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-information" class="form-horizontal">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
            <li><a href="#tab-data" data-toggle="tab">{{ tab_data }}</a></li>
            <li><a href="#tab-seo" data-toggle="tab">{{ tab_seo }}</a></li>
            <li><a href="#tab-design" data-toggle="tab">{{ tab_design }}</a></li>
            <li><a id="mapsDatA" href="#tab-map" data-toggle="tab">Map Data</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">
              <ul class="nav nav-tabs" id="language">
                  {% for language in languages %}
                    <li><a href="#language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
                  {% endfor %}
              </ul>
              <div class="tab-content">{% for language in languages %}
                  <div class="tab-pane" id="language{{ language.language_id }}">
                    <div class="form-group required">
                      <label class="col-sm-2 control-label" for="input-title{{ language.language_id }}">{{ entry_title }}</label>
                      <div class="col-sm-10">
                        <input type="text" name="information_description[{{ language.language_id }}][title]" value="{{ information_description[language.language_id] ? information_description[language.language_id].title }}" placeholder="{{ entry_title }}" id="input-title{{ language.language_id }}" class="form-control" />
                          {% if error_title[language.language_id] %}
                            <div class="text-danger">{{ error_title[language.language_id] }}</div>
                          {% endif %} </div>
                    </div>
                    <div class="form-group required">
                      <label class="col-sm-2 control-label" for="input-description{{ language.language_id }}">{{ entry_description }}</label>
                      <div class="col-sm-10">
                        <textarea name="information_description[{{ language.language_id }}][description]" placeholder="{{ entry_description }}" id="input-description{{ language.language_id }}" data-toggle="summernote" data-lang="{{ summernote }}" class="form-control">{{ information_description[language.language_id] ? information_description[language.language_id].description }}</textarea>
                          {% if error_description[language.language_id] %}
                            <div class="text-danger">{{ error_description[language.language_id] }}</div>
                          {% endif %} </div>
                    </div>
                    <div class="form-group required">
                      <label class="col-sm-2 control-label" for="input-meta-title{{ language.language_id }}">{{ entry_meta_title }}</label>
                      <div class="col-sm-10">
                        <input type="text" name="information_description[{{ language.language_id }}][meta_title]" value="{{ information_description[language.language_id] ? information_description[language.language_id].meta_title }}" placeholder="{{ entry_meta_title }}" id="input-meta-title{{ language.language_id }}" class="form-control" />
                          {% if error_meta_title[language.language_id] %}
                            <div class="text-danger">{{ error_meta_title[language.language_id] }}</div>
                          {% endif %} </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="input-meta-description{{ language.language_id }}">{{ entry_meta_description }}</label>
                      <div class="col-sm-10">
                        <textarea name="information_description[{{ language.language_id }}][meta_description]" rows="5" placeholder="{{ entry_meta_description }}" id="input-meta-description{{ language.language_id }}" class="form-control">{{ information_description[language.language_id] ? information_description[language.language_id].meta_description }}</textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="input-meta-keyword{{ language.language_id }}">{{ entry_meta_keyword }}</label>
                      <div class="col-sm-10">
                        <textarea name="information_description[{{ language.language_id }}][meta_keyword]" rows="5" placeholder="{{ entry_meta_keyword }}" id="input-meta-keyword{{ language.language_id }}" class="form-control">{{ information_description[language.language_id] ? information_description[language.language_id].meta_keyword }}</textarea>
                      </div>
                    </div>
                  </div>
                  {% endfor %}</div>
            </div>
            <div class="tab-pane" id="tab-data">
              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_store }}</label>
                <div class="col-sm-10">
                  <div class="well well-sm" style="height: 150px; overflow: auto;"> {% for store in stores %}
                      <div class="checkbox">
                        <label> {% if store.store_id in information_store %}
                            <input type="checkbox" name="information_store[]" value="{{ store.store_id }}" checked="checked" />
                                {{ store.name }}
                            {% else %}
                              <input type="checkbox" name="information_store[]" value="{{ store.store_id }}" />
                                {{ store.name }}
                            {% endif %}</label>
                      </div>
                      {% endfor %}</div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-bottom"><span data-toggle="tooltip" title="{{ help_bottom }}">{{ entry_bottom }}</span></label>
                <div class="col-sm-10">
                  <div class="checkbox">
                    <label>{% if bottom %}
                        <input type="checkbox" name="bottom" value="1" checked="checked" id="input-bottom" />
                        {% else %}
                          <input type="checkbox" name="bottom" value="1" id="input-bottom" />
                        {% endif %}
                      &nbsp;</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                <div class="col-sm-10">
                  <select name="status" id="input-status" class="form-control">
                      {% if status %}
                        <option value="1" selected="selected">{{ text_enabled }}</option>
                        <option value="0">{{ text_disabled }}</option>
                      {% else %}
                        <option value="1">{{ text_enabled }}</option>
                        <option value="0" selected="selected">{{ text_disabled }}</option>
                      {% endif %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
                <div class="col-sm-10">
                  <input type="text" name="sort_order" value="{{ sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
                </div>
              </div>
            </div>
            <div class="tab-pane" id="tab-seo">
              <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_keyword }}</div>
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <td class="text-left">{{ entry_store }}</td>
                    <td class="text-left">{{ entry_keyword }}</td>
                  </tr>
                  </thead>
                  <tbody>
                  {% for store in stores %}
                    <tr>
                      <td class="text-left">{{ store.name }}</td>
                      <td class="text-left">{% for language in languages %}
                          <div class="input-group"><span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
                            <input type="text" name="information_seo_url[{{ store.store_id }}][{{ language.language_id }}]" value="{% if information_seo_url[store.store_id][language.language_id] %}{{ information_seo_url[store.store_id][language.language_id] }}{% endif %}" placeholder="{{ entry_keyword }}" class="form-control" />
                          </div>
                              {% if error_keyword[store.store_id][language.language_id] %}
                                <div class="text-danger">{{ error_keyword[store.store_id][language.language_id] }}</div>
                              {% endif %}
                          {% endfor %}</td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="tab-pane" id="tab-design">
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <td class="text-left">{{ entry_store }}</td>
                    <td class="text-left">{{ entry_layout }}</td>
                  </tr>
                  </thead>
                  <tbody>

                  {% for store in stores %}
                    <tr>
                      <td class="text-left">{{ store.name }}</td>
                      <td class="text-left"><select name="information_layout[{{ store.store_id }}]" class="form-control">
                          <option value=""></option>
                              {% for layout in layouts %}
                                  {% if information_layout[store.store_id] and information_layout[store.store_id] == layout.layout_id %}
                                    <option value="{{ layout.layout_id }}" selected="selected">{{ layout.name }}</option>
                                  {% else %}
                                    <option value="{{ layout.layout_id }}">{{ layout.name }}</option>
                                  {% endif %}
                              {% endfor %}
                        </select></td>
                    </tr>
                  {% endfor %}
                  </tbody>

                </table>
              </div>
            </div>

            <div class="tab-pane" id="tab-map">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <div class="pull-right">
                        <input class="" type="checkbox" name="map[status]" {% if map['status'] %} checked {% endif %} title="Включена ли карта для отображения на данной странице материала">
                      </div>
                      <h3 class="panel-title">
                        <i class="fa fa-globe"></i> Map Data
                      </h3>
                    </div>
                    <div class="panel-body">
                      <div class="row">
                        <div class="col-lg-8 col-md-12 col-sm-12">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <div class="pull-right" style=" display: flex; flex-wrap: wrap; margin-top: -5px;">
                                <input type="hidden" id="newPoli">
                                <span class="setMapPoli" title="Кликая на карту добавляем новые метки"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                               <!-- <span class="redMapPoli" title="Кликая на карту редактируем выбранную метку"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
                                <span class="refreshMap" title="Обновить карту"><i class="fa fa-refresh"></i></span>
                                -->
                              </div>

                              <h3 class="panel-title">
                                <i class="fa fa-television fw"></i> Карта
                              </h3>
                            </div>
                            <div class="panel-body">
                              <div id="mapsMarkerForms"></div>
                            </div>
                          </div>
                        </div>

                        <div class="col-lg-4 col-md-12 col-sm-12">
                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <div class="pull-right" style="margin-top: -5px;">
                                <input class="poli-add" type="checkbox" data-posM="true" style="display: none;">
                                <span class="hid-panel shows"><i class="caret"></i></span>
                              </div>
                              <h3 class="panel-title">
                                <i class="fa fa-map-o"></i> Позиционирование карты
                              </h3>
                            </div>
                            <div class="panel-body">
                              <div class="table-responsive">
                                <table class="table">
                                  <thead>
                                  <tr>
                                    <td class="text-right">Широта</td>
                                    <td>Долгота</td>
                                    <td>Зум</td>
                                  </tr>
                                  </thead>
                                  <tbody>
                                  <tr>
                                    <td>
                                      <input id="map_pos_lat" type="text" name="map[pos][lat]" value="{{ map['lat'] }}" class="map_pos_lat" style="width: 140px;">
                                    </td>
                                    <td>
                                      <input id="map_pos_lng" type="text" name="map[pos][lng]" value="{{ map['lng'] }}" class="map_pos_lng" style="width: 140px;">
                                    </td>
                                    <td>
                                      <input id="map_pos_zoom" type="text" name="map[pos][zoom]" value="{{ map['zoom'] }}" class="map_pos_zoom" style="width: 100%;">
                                    </td>
                                  </tr>


                                  </tbody>
                                </table>
                            </div>
                          </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-lg-4 col-md-12 col-sm-12">
                          <div class="panel panel-default poligon-panel">
                            <input class="map_pos_enabl" type="radio" name="enabl_data[]" checked title="{{ map_data_enabl }}" style="display: none;" >
                            <div class="panel-heading">
                              <div class="pull-right" style="margin-top: -5px;">
                                <input type="hidden" class="viewPoli"  name="showMap[0]" {% if map["poligon"][0][0]["view"] == '1' %} value="1" checked{% else %}value="0"  {% endif %}>
                                <input class="poli-add" type="checkbox" style="display: none;">
                                   {% if map["poligon"][0][0]["view"] == '1' %}
                                    <span class="btn viewZone shows" title="Отображать зону на карте" style="margin-top: -5px; z-index: 20;" >
                                          <i class="fa fa-eye"></i>
                                        </span>

                                  {% else %}
                                      <span class="btn viewZone" title="Отображать зону на карте" style="margin-top: -5px; z-index: 20;" >
                                          <i class="fa fa-eye-slash"></i>
                                        </span>
                                  {% endif %}

                                <span class="btn btn-metka-add" title="Добавить новую точку для зоны" style="margin-top: -5px; z-index: 20;" >
                                  <i class="fa fa-plus-circle"></i>
                                </span>
                                <span class="btn btn-metka-clear" title="Удалить все точки для зоны" style="margin-top: -5px; z-index: 20;" >
                                  <i class="fa fa-eraser"></i>
                                </span>
                                <span class="hid-panel shows" style="z-index: 20;"><i class="caret"></i></span>
                              </div>
                              <h3 class="panel-title">
                                <i class="fa fa-object-group" style="background: rgba(255, 0, 0, 0.54); padding: 3px;"></i> Зона 1
                              </h3>
                            </div>

                            <div class="panel-body" data-pol-id="0">
                              <div class="table-responsive">
                                <table class="table">
                                  <thead>
                                  <tr>
                                    <td></td>
                                    <td>Широта</td>
                                    <td>Долгота</td>
                                    <td></td>
                                  </tr>
                                  </thead>
                                  <tbody class="poligons-data">
                                  {% for poligon in map["poligon"][0] %}
                                    <tr class="poligons-data-item">
                                      <td>
                                        <input class="map_pos_enabl" type="radio" name="enabl_data" style="box-shadow: 0px 0px 2px black;" >
                                      </td>
                                      <td>
                                        <input type="text" name="map[poligon][0][lat][]" value="{{ poligon.lat }}" class="map_pos_lat" style="width: 120px;">
                                      </td>
                                      <td>
                                        <input type="text" name="map[poligon][0][lng][]" value="{{ poligon.lng }}" class="map_pos_lng" style="width: 120px;">
                                      </td>
                                      <td>
                                        <span class="btn btn-danger btn-metka-del" title="удалить данную точку"><i class="fa fa-trash-o"></i></span>
                                      </td>
                                    </tr>
                                  {% endfor %}
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-lg-4 col-md-12 col-sm-12">
                          <div class="panel panel-default poligon-panel">
                            <input class="map_pos_enabl" type="radio" name="enabl_data[]" title="{{ map_data_enabl }}" style="display: none;" >
                            <div class="panel-heading">
                              <div class="pull-right"  style="margin-top: -5px;">
                                <input type="hidden" class="viewPoli"  name="showMap[1]" {% if map["poligon"][1][0]["view"] == '1' %} value="1" checked{% else %}value="0" {% endif %}>
                                <input class="poli-add" type="checkbox" style="display: none;">
                                 {% if map["poligon"][1][0]["view"] == '1' %}
                                      <span class="btn viewZone shows" title="Отображать зону на карте" style="margin-top: -5px; z-index: 20;" >
                                          <i class="fa fa-eye"></i>
                                        </span>
                                  {% else %}
                                      <span class="btn viewZone" title="Отображать зону на карте" style="margin-top: -5px; z-index: 20;" >
                                          <i class="fa fa-eye-slash"></i>
                                        </span>
                                  {% endif %}
                                <span class="btn btn-metka-add" title="Добавить новую точку для зоны" style="margin-top: -5px; z-index: 20;" >
                                  <i class="fa fa-plus-circle"></i>
                                </span>
                                <span class="btn btn-metka-clear" title="Удалить все точки для зоны" style="margin-top: -5px; z-index: 20;" >
                                  <i class="fa fa-eraser"></i>
                                </span>
                                <span class="hid-panel shows" style="z-index: 20;"><i class="caret"></i></span>
                              </div>
                              <h3 class="panel-title">
                                <i class="fa fa-object-group" style="background: rgba(32,25,255,0.54); padding: 3px;"></i> Зона 2
                              </h3>
                            </div>
                            <div class="panel-body" data-pol-id="1">
                              <div class="table-responsive">

                                  <table class="table">
                                    <thead>
                                    <tr>
                                      <td></td>
                                      <td>Широта</td>
                                      <td>Долгота</td>
                                      <td></td>
                                    </tr>
                                    </thead>
                                    <tbody class="poligons-data">
                                    {% for poligon in map["poligon"][1] %}
                                      <tr class="poligons-data-item">
                                        <td>
                                          <input class="map_pos_enabl" type="radio" name="enabl_data" style="box-shadow: 0px 0px 2px black;" >
                                        </td>
                                        <td>
                                          <input type="text" name="map[poligon][1][lat][]" value="{{ poligon.lat }}" class="map_pos_lat" style="width: 120px;">
                                        </td>
                                        <td>
                                          <input type="text" name="map[poligon][1][lng][]" value="{{ poligon.lng }}" class="map_pos_lng" style="width: 120px;">
                                        </td>
                                        <td>
                                          <span class="btn btn-danger btn-metka-del" title="удалить данную точку"><i class="fa fa-trash-o"></i></span>
                                        </td>
                                      </tr>
                                    {% endfor %}
                                    </tbody>
                                  </table>

                            </div>
                          </div>
                          </div>
                        </div>

                        <div class="col-lg-4 col-md-12 col-sm-12">
                          <div class="panel panel-default poligon-panel">
                            <input class="map_pos_enabl" type="radio" name="enabl_data[]" checked title="{{ map_data_enabl }}" style="display: none;" >
                            <div class="panel-heading">
                              <div class="pull-right" style="margin-top: -5px;">
                                <input type="hidden" class="viewPoli" name="showMap[2]" {% if map["poligon"][2][0]["view"] == '1' %} value="1" checked{% else %}value="0" {% endif %}>
                                <input class="poli-add" type="checkbox" style="display: none;">
                              {% if map["poligon"][2][0]["view"] == '1' %}
                                      <span class="btn viewZone shows" title="Отображать зону на карте" style="margin-top: -5px; z-index: 20;" >
                                          <i class="fa fa-eye"></i>
                                        </span>
                                  {% else %}
                                      <span class="btn viewZone" title="Отображать зону на карте" style="margin-top: -5px; z-index: 20;" >
                                          <i class="fa fa-eye-slash"></i>
                                        </span>
                                  {% endif %}
                                <span class="btn btn-metka-add" title="Добавить новую точку для зоны" style="margin-top: -5px;z-index: 20;" >
                                  <i class="fa fa-plus-circle"></i>
                                </span>
                                <span class="btn btn-metka-clear" title="Удалить все точки для зоны" style="margin-top: -5px;z-index: 20;" >
                                  <i class="fa fa-eraser"></i>
                                </span>
                                <span class="hid-panel shows" style="z-index: 20;"><i class="caret"></i></span>
                              </div>
                              <h3 class="panel-title">
                                <i class="fa fa-object-group" style="background: rgba(50,255,14,0.7); padding: 3px;"></i> Зона 3
                              </h3>
                            </div>
                            <div class="panel-body" data-pol-id="2">
                              <div class="table-responsive">
                                  <table class="table">
                                    <thead>
                                    <tr>
                                      <td></td>
                                      <td>Широта</td>
                                      <td>Долгота</td>
                                      <td></td>
                                    </tr>
                                    </thead>
                                    <tbody class="poligons-data">
                                    {% for poligon in map["poligon"][2] %}
                                      <tr class="poligons-data-item">
                                        <td>
                                          <input class="map_pos_enabl" type="radio" name="enabl_data" style="box-shadow: 0px 0px 2px black;" >
                                        </td>
                                        <td>
                                          <input type="text" name="map[poligon][2][lat][]" value="{{ poligon.lat }}" class="map_pos_lat" style="width: 120px;">
                                        </td>
                                        <td>
                                          <input type="text" name="map[poligon][2][lng][]" value="{{ poligon.lng }}" class="map_pos_lng" style="width: 120px;">
                                        </td>
                                        <td>
                                          <span class="btn btn-danger btn-metka-del" title="удалить данную точку"><i class="fa fa-trash-o"></i></span>
                                        </td>
                                      </tr>
                                    {% endfor %}
                                    </tbody>
                                  </table>
                            </div>
                          </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
  <link href="view/javascript/codemirror/lib/codemirror.css" rel="stylesheet" />
  <link href="view/javascript/codemirror/theme/monokai.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/codemirror/lib/codemirror.js"></script>
  <script type="text/javascript" src="view/javascript/codemirror/lib/xml.js"></script>
  <script type="text/javascript" src="view/javascript/codemirror/lib/formatting.js"></script>
  <script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
  <link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
  <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
  <script type="text/javascript"  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCK3xtmeK2iryeOTK_g8i7LM7FTx60HgZ0"></script>
  <script type="text/javascript" src="view/javascript/gMapsData.js"></script>
  <script type="text/javascript"><!--
      $('#language a:first').tab('show');
      //--></script></div>
{{ footer }} 
