{{ header }}
<section class="menu page">
    <div class="container">
        <div class="breadcrumbs">
            <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="breadcrumbs_list">
                {% set count = 1 %}
                {% for breadcrumb in breadcrumbs %}
                    <li itemprop="itemListElement" itemscope
                        itemtype="http://schema.org/ListItem" > {% if loop.index != breadcrumbs|length  %}<a itemscope itemtype="http://schema.org/Thing"
                                                                                                             itemprop="item"  href="{{ breadcrumb.href }}"> {% endif %}<span itemprop="name">{{ breadcrumb.text }} </span>{% if loop.index != breadcrumbs|length  %}</a>{% endif %}
                        <meta itemprop="position" content="{{ count }}" />
                        {% set count = count + 1 %}
                    </li>
                    {% if loop.index != breadcrumbs|length  %}
                        <li><i class="card__controls-breadcrumb_delimiter" >></i></li>
                    {% endif %}
                {% endfor %}
            </ol>
        </div>
        <h1>{{ heading_title }}</h1>
        <div class="menu-tabs">
            <form id="filter_form" action="/index.php?route=product/category/filter_data" method="get">
                <input type="hidden" name="page" value="{{ page }}" />
                <input type="hidden" name="path" value="{{ path }}" />
                {% if path == 59 %}
                    {% for group in attributes %}
                        <div class="menu-tabs__item"><a class="menu-tabs__link" href="#">{{ group.name }}</a>
                            <div class="menu-tabs__drop">
                                {% for attr in group.attr %}
                                    <div class="menu-tabs__line">
                                        <label class="menu-tabs__line-label">
                                            <input class="menu-tabs__line-label__input" type="checkbox" {% if attr.checked == 1 %}checked{% endif %} name="attributes[]" value="{{ attr.attribute_id }}"><span class="menu-tabs__line-box"></span><span class="menu-tabs__line-name">{{ attr.name }}</span>
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </form>
        </div>
        <div class="menu__text">{{ text_warn }}</div>
        <div class="hit__content">
            {{ products }}
        </div>
        <div class="description">{{ description }}</div>
        <!-- {{ reviews }}  -->
    </div>
</section>
{{ footer }}