{% if indegrients %}
    {% for group in indegrients %}
        {% for indigrient in group.attr %}
            <div class="ingredients-popup__range-item">
                <div class="ingredients-popup__range-img"><img src="{{ indigrient.thumb }}" alt=""></div>
                <div class="ingredients-popup__range-name">{{ indigrient.name }}</div>
                <div data-price="{{ indigrient.prices[option_value_id] }}" class="ingredients-popup__range-price">{{ indigrient.prices[option_value_id] }} грн</div><a data-attr-id="{{ indigrient.attribute_id }}" class="ingredients-popup__range-add" href="#">{{ add_text }}</a>
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}