{{ header }}
<section class="card page" >
    <div class="container" itemscope itemtype="http://schema.org/Product">
        <div class="card__top">
            <h1 itemprop="name">{{ heading_title }}</h1>
            <div class="card__controls">
                <ol itemscope itemtype="http://schema.org/BreadcrumbList" class="card__controls-breadcrumb">
                    {% set count = 1 %}
                    {% for breadcrumb in breadcrumbs %}
                        <li itemprop="itemListElement" itemscope
                            itemtype="http://schema.org/ListItem" > {% if loop.index != breadcrumbs|length  %}<a itemscope itemtype="http://schema.org/Thing"
                                                                                                                 itemprop="item"  href="{{ breadcrumb.href }}"> {% endif %}<span itemprop="name">{{ breadcrumb.text }} </span>{% if loop.index != breadcrumbs|length  %}</a>{% endif %}
                            <meta itemprop="position" content="{{ count }}" />
                            {% set count = count + 1 %}
                        </li>
                        {% if loop.index != breadcrumbs|length  %}
                            <li><i class="card__controls-breadcrumb_delimiter" >></i></li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </div>
        </div>
        <div class="card__content">
            <div class="card__block">
                <div class="card__img"><img itemprop="image" src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}">
                    <div class="card__text">{{ product_can_be_not_as_viewed }}</div>
                </div>
            </div>
            <div class="card-price__wrap">
                <div class="card-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                    <meta itemprop="priceCurrency" content="UAH" />
                    {% if options %}
                        {% for option in options %}
                            {% if option.type == 'radio' %}
                                {% for key, option_value in option.product_option_value %}
                                    <label class="card-price__box{% if key == 0 %} active{% endif %}">
                                        <input class="option" data-option-value-id="{{ option_value.option_value_id }}" value="{{ option_value.product_option_value_id }}" name="option[{{ option.product_option_id }}]" type="radio" name="card-price" {% if key == 0 %}checked{% endif %}>
                                        <input type="hidden" name="size-price" value="{% if option_value.cost %}{{ option_value.cost }}{% endif %}" />
                                        <span class="card-price__dot"></span>
                                    <span class="card-price__info">
                                        <span class="card-price__size">{{ option_value.name }}
                                            <span>{{ option_value.weight }}</span>
                                        </span>
                                        <span class="hidden" itemprop="price">{{ option_value.cost }}</span>
                                        <span class="card-price__num" >{% if option_value.price %}{{ option_value.price }}{% endif %}</span>
                                    </span>
                                    </label>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="card-price__controls">
                    <!-- В конструкторе не выводим кнопку -->
                    {% if  product_id != 122  %}<a id="add_product" class="btn card-price__btn btn-orange" href="#">{{ add_to_cart_text }}</a> {% endif %}
                    {% if is_pizza == 1 %}<a class="btn card-price__btn for-popup" href="#ingredients">{{ add_ingredients_text }}</a>{% endif %}</div>
            </div>
        </div>
        <div class="ingredients">
            {% if products_ingredients %}
            <div class="ingredients__title">{{ containing_text }}</div>
            <div class="ingredients__content">

                        {% for attribute in products_ingredients %}
                            <div class="ingredients-item">
                                <div class="ingredients-item__box">
                                    <div class="ingredients-item__img"><img src="{{ attribute.thumb }}" alt=""></div>
                                    <div class="ingredients-item__name">{{ attribute.name }}</div>
                                </div>
                            </div>
                        {% endfor %}

             </div>
            {% endif %}
        </div>
        <div class="description">
            {{ description }}
        </div>
        {{ content_bottom }}
    </div>

    <div class="container container_reviews">
        {{ reviews }}

    </div>
    <div class="card-reviews">
        <div class="container">
            {{ reviews_add }}
        </div>
    </div>
</section>
<div class="hidden">
    <div class="ingredients-popup container" id="ingredients">
        <div class="ingredients-popup__top">
            <div class="ingredients-popup__item">
                <div class="ingredients-popup__item-img"><img src="{{ popup }}" alt=""></div>
                <div class="ingredients-popup__item-name">{{ heading_title }}</div>
                <div class="ingredients-popup__item-size">
                    {% if options %}
                        {% for option in options %}
                            {% if option.type == 'radio' %}
                                {% for key, option_value in option.product_option_value %}
                                    {% if key == 0 %} ({{ option_value.name }} {{ option_value.weight }}){% endif %}

                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="ingredients-popup__item-price">246 грн</div><a id="add_product_with_attr" class="btn ingredients-popup__item-btn btn-orange" href="#">{{ add_to_cart_text }}</a>
            </div>
            <div class="ingredients-popup__box">

            </div>
        </div>
        <div class="ingredients-popup__tabs">
            <div class="menu-tabs">
                {% if indegrients %}
                    {% set count_arr = 1 %}
                    {% for group_id, group in indegrients %}
                        <div class="menu-tabs__item"><a data-group-id="{{ group_id }}" class="menu-tabs__link {% if count_arr == 1 %}active{% endif %}" href="#">{{ group.name }}</a>

                        </div>
                        {% set count_arr = count_arr + 1 %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="ingredients-popup__range">
            {{ first_group_indigrients }}
        </div>
    </div>
</div>


<script type="text/javascript">
    $('document').ready(function(){
        Product.product_id = {{ product_id }};
        Product.need_to_choose_souce = "{{ need_to_choose_souce }}";
    });
</script>
{{ footer }} 
