{% if cont %}<div class="container"> {% endif %}
<div class="card__recom">
    <span class="card__recom-title">{{ title }}</span>
    <div class="hit__content">
        {% for product in products %}
            <div class="hit-item">
                <a class="hit-item__box {% if product.prod_type > 0 %} mode-hit {% endif %} product-feature-dox" href="{{ product.href }}" style="background-image: url({{ product.thumb }});" data-info="{{ product.label_text }}">
                    <span class="hit-item__name">{{ product.name }}</span>

                        <span class="hit-item__text">
                            {{ product.sostav }}
                        </span>
                    <span class="hit-item__info">
                        {% for option in product.options %}
                            {% for key, value in option.product_option_value %}
                                <span class="hit-item__info-box {% if key == 0 %}active{% endif %}">
                                    <span class="hit-item__info-block">
                                        <span class="hit-item__info-size">{{ value.name }}<span>{{ value.weight }}{% if value.weight == 0 %}<br />{% endif %}</span></span>
                                        <span class="hit-item__info-price">{{ value.price }}</span>
                                    </span>
                                    <span class="btn hit-item__btn add-product-cart" data-prodId="{{ product.product_id }}" data-key="{{ key }}">{{ entry_pays }}</span>
                                    <input style="display: none;" class="option{{ product.product_id }}_{{ key }}" value="{{ product.optV[key]['prod_val'] }}" name="option[{{  product.optV[key]['opt_val'] }}]" type="checkbox" name="card-price" checked>
                                </span>
                            {% endfor %}
                        {% endfor %}
                    </span>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% if cont %}</div>{% endif %}